//******************************* ID Class Name
$name: contents-name; 
//ex.  ##{$name} .#{$name}

//******************************* root
$cssimg_path: "img/";
$img_path: "../img/";

//******************************* Layer
$layer-1:-1;
$layer00:auto;
$layer01:1;
$layer02:2;
$layer98:9998;// header_layer
$layer99:9999;

//******************************* Layout /
$cp_list_mr:0.5%;
$cp_list_ml:0.5%;

//******************************* Responsive width /
$responsive-width:100%;

//******************************* px width → % width /
$main-width:1000px;
$conv_article:	600px / $main-width * 100%;