/**
 * commons.css
 */


/**
 * base
 */
.logo{
    max-height: 50px;
    max-width: 250px;
}

.main{
    margin-top: 70px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #EC008B;
    border-color: #EC008B;
}

body{
    background: url(../images/spbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,
h2,
h3,
h4,
h5{
    color: #EC008B;
    padding: 0;
    margin: 10px 0;
}
h1{
    font-weight: bold;
    font-size: 150%;
}
h2{
    font-weight: bold;
    font-size: 130%;
}
h3{
    font-weight: bold;
    font-size: 120%;
	border-radius: 3px;
	padding: 2px 0;
}
.col-xs-6:nth-child(3n+1) h3{
	background-color: #CEC6F7;
}
.col-xs-6:nth-child(3n+2) h3{
	background-color: #F8D4E4;
}
.col-xs-6:nth-child(3n) h3{
	background-color: #A9DCF6;
}

/**
 * navbar
 */

/**
 * slider
 */
.bx-wrapper .bx-viewport{
    -moz-box-shadow: 0 0 0 #FFF;
    -webkit-box-shadow: 0 0 0 #FFF;
    box-shadow: 0 0 0 #FFF;
    border: none;
    left: 0;
}
.bx-wrapper .bx-controls-direction a {
    z-index: 999;
}
.bx-prev, .bx-next{
    opacity: 0.5;
}
.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/controls.png) no-repeat -43px -32px;
}

.copy{
    text-align: center;
}

/**
 * index
 */
.index-main-image-fixed img{
    max-width: 100%;
}

/* phone num */
.index-phone-number{
    width: 100%;
    background: #FFF;
    margin: 20px 0 0;
    padding: 10px 20px;
    display: block;
    color: #EC008B;
    font-size: 150%;
    font-weight: bold;
    border-bottom: 1px solid #EFEFEF;
}

/**
 * menu
 */
.index-main-manu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.index-main-manu li{
    float: left;
    display: block;
}

.index-main-manu li a{
    width: 100%;
    border-left: 1px solid #ff63bf;
    border-right: 1px solid #cb107e;
    color: #FFF;
    font-size: 150%;
    text-align: center;
    padding: 30px 0;
    background: #EC008B;
    display: block;
}
.index-main-manu li:nth-child(1),
.index-main-manu li:nth-child(3){
    width: 33%;
}
.index-main-manu li:nth-child(2){
    width: 34%;
}

/**
 * cast
 */
.thumbnail{
    text-align: center;
    height: 200px;
}
.thumbnail img{
    max-height: 150px;
}
.thumbnail h3 a{
	color: #6D452B;
}

/**
 * single-thumbnail
 */
.single-thumbnail{}
.single-thumbnail img{
    width: 100%;
}

/**
 * access
 */
#googlemap{
    width: 100%;
    height: 300px;
    margin: 0 0 10px;
}

/**
 * schedule
 */
.schedule{
    font-weight: bold;
    margin: 0 0 15px;
}
.schedule a{
    color: #EC008B;
    background: rgba(255,255,255,0.5);
}






/**
* staff
*/
.comment{
	color: #E3007F;
	background-color: #F4E7F9;
	padding: 2%;
}
/**
* whats
*/
.attention h3{
	color: #6D452B;
}
.attention p{
	color: #6D452B;
	padding: 2%;
	color: #6D452B;
	background-color: #EFEFEF;
}
/**
* servise
*/
.wrapper_servise ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.wrapper_servise .course{
	font-size: 120%;
}
.wrapper_servise .course:before{
	content: "\f004";
	font-family: FontAwesome;
	padding-right: 4px;
}
.wrapper_servise .about{
	background-color: #FFF7A2;
	font-size: 13px;
	padding: 1% 2%;
	margin: 0 2%;
}
.wrapper_servise .note2{
	margin: 0 2%;
}
.wrapper_servise .inner{
	border-bottom: dashed 1px #A9DCF6;
	margin: 12px auto 30px auto;
}
.wrapper_servise ul{
	overflow: hidden;
	list-style: none;
	margin: 0 2%;
	padding: 0;
}
.wrapper_servise ul li{
	float: left;
	padding: 0 16px 0 0;
	font-size: 20px;
	color: #E74E95;
	line-height: 24px;
}
.wrapper_servise ul li{
	float: left;
	padding: 0 30px 0 0;
}
.wrapper_servise ul li:last-child{
	font-size: 14px;
	color: inherit;
	width: 100%;
}




