// *PC Desktop* 

.desktop{//desktop setting ****************************  
	.breadcrumbs {padding: 0;}

	.header{
//		position: fixed;
		@include site-size;
//		z-index:$layer98;
	}//header

	.contents{
//		background-color:$ct-background;
		border-radius:4px;
	}//contents

@import "../media-queries";  
  
}//desktop end ***************************************//