/*mobile set*/
//class:mobile

@import "ios";
@import "iphone";
@import "ipod";
@import "andoroid";
@import "windows";
@import "portrait";
@import "landscape";

.mobile{//mobile setting ****************************
	.split2{	width:$responsive-width; padding-right:0;	}
    
	.container{ max-width:100%; min-width:100%;}
	
		.header{
		.branding{
			width: 96%;
			margin: 0 auto;
		}
		.text{
			display: none;
		}
	}
	.SideA{
		float: none;
		width: 100%;
		ul{
			overflow: hidden;
			padding: 1% 2%;
			li{
				float: left;
				width: 49%;
				&:nth-child(2n){
					margin-left: 2%;
				}
			}
		}
	}
	.SideB{
		display: none;
	}
	.contents{
		float: none;
		width: 100%;
		.unit{
			box-shadow: none;
			background-color: transparent;
			ul{
				display: block;
				li{
					display: block;
					padding-bottom: 12px;
					&:nth-child(1){
						display: none;
					}
					&:nth-child(2){
						border: none;
					}
					dt{
						border-bottom: solid 2px $fourth-color;
					}
				}
			}
		}
	}
	.recruit{
		.layout-area .unit{
			@include lineheight(26);
		}
		.section{
			ul.exit{
				margin: 10px auto;
				li{
					width: 100%;
					margin: 12px 0 0 0;
					&:nth-child(2n){
						margin: 12px 0 0 0;
					}
				}
			}
		}
	}


//Gyro setting **********************************

	@media screen and (orientation:portrait) {
	}//portrait
    
	@media screen and (orientation:landscape) {
	}//landscape

//end Gyro setting ******************************

}//mobile end ***************************************