/*
 * # Common.css
 */


/*******************************
              Base
*******************************/

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	/*    font-family:"Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;*/
	color: #6D452B;
	/*background-image: url(../images/bg.jpg);*/
	background-position: center center;
}

img {
	border: 0;
}

.clearfix:after {
	content: ".";
	/* 新しい要素を作る */
	display: block;
	/* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*¥*/
	/*/
  height: auto;
  overflow: hidden;
  /**/
}

h3,
h4 {
	/*    color: #ec008b;*/
}


/*******************************
            Layout
*******************************/

.head_line {
	border-top: solid 20px #A9DCF6;
}

#copyright {
	font-size: 14px;
	font-weight: normal;
}

#logo {
	margin: 0;
	padding: 0;
}

#logo img {
	width: 80%;
	padding-top: 0.4em;
}

#head-info {
	background-color: #FFF7A2;
	background-image: url("../images/bg1.png");
	background-position: right center;
	background-repeat: no-repeat;
	border-radius: 6px;
	padding: 1px 6px 0 6px;
	margin-top: 10px;
}

#head-info dt {
	float: left;
	width: 120px;
}

.breadcrumb a {
	color: #EC008B;
}

#origin_menu {
	position: relative;
	padding: 20px 0 12px 0;
	border-left: solid 1px #DCDCDC;
	border-right: solid 1px #DCDCDC;
	border-top: solid 4px #E74E95;
	border-bottom: solid 4px #E74E95;
}

#origin_menu:before {
	content: url("../images/icon1.png");
	position: absolute;
	top: -18px;
	left: 50%;
	margin-left: -25px;
	z-index: 1;
}

#origin_menu a {
	color: #E74E95;
	border-bottom: dashed 1px #A9DCF6;
}

#origin_menu a.active {
	background-color: #eef8fd;
}

#origin_menu a i {
	color: #ffd363;
	font-size: 16px;
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

#sp_menu {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	border-radius: 0;
	margin: 0;
}

#sp_menu a:last-child {
	text-align: center;
	background: #555;
	color: #FFF;
}

#sp_menu a:last-child i {
	float: none;
	color: #FFF;
}

@media only screen and (max-width: 767px) {
	#head-info dl {
		font-size: 12px;
		font-weight: bold;
		color: #6D452B;
		text-align: left;
	}
	#menu {
		float: none;
	}
	#main {
		float: none;
	}
	#sp_menu_open {
		position: fixed;
		z-index: 999;
		top: 10px;
		right: 40px;
		display: block;
		width: 66px;
		height: 70px;
		cursor: pointer;
	}
	#sp_menu_open i {
		font-size: 70px;
		display: block;
		position: absolute;
		opacity: 1;
		color: #EC008B;
	}
	#sp_menu_open span {
		font-size: 12px;
		font-weight: bold;
		color: #FFF;
/*
		top: 20px;
		left: 25px;
*/
		position: relative;
		z-index: 999;
		width: 100%;
		text-align: center;
		line-height: 70px;
		display: inline-block;
	}
	#sp_menu a{
		color: #E74E95;
	}
	#sp_menu i {
		color: #ffd363;
		font-size: 16px;
	}
}

@media only screen and (min-width: 768px) {
	#head-info dl {
		font-size: 14px;
		color: #6D452B;
		text-align: left;
	}
	#menu {
		float: left;
		margin-bottom: 5%;
	}
	#main {
		float: right;
	}
	#sp_menu_open {
		display: none;
	}
}
#footer {
	background-color: #A9DCF6;
}


/*******************************
            Index
*******************************/

@media only screen and (max-width: 767px) {
	.top_baner {}
	.top_baner img {
		max-width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.top_baner {
		display: none;
	}
}


/*-------------------
      Slider
--------------------*/

.bx-wrapper {
	max-width: 1000px !important;
	margin: 0px auto 20px!important;
}

.bx-prev,
.bx-next {
	width: 50px!important;
	height: 45px!important;
	display: block!important;
}

.bx-prev {
	background: url(../images/prev.png)!important;
}

.bx-next {
	background: url(../images/next.png)!important;
}


/*-------------------
        tab
--------------------*/

.staff-list {
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.staff-block {
		width: 40%;
		height: 250px;
		display: inline-block;
		text-align: center;
		margin: 10px 0;
	}
}

@media only screen and (min-width: 768px) {
	.staff-block {
		width: 200px;
		height: 300px;
		display: inline-block;
		text-align: center;
		margin: 10px 0;
	}
}

.staff-block:nth-child(3n+1) h3 {
	background-color: #CEC6F7;
}

.staff-block:nth-child(3n+2) h3 {
	background-color: #F8D4E4;
}

.staff-block:nth-child(3n) h3 {
	background-color: #A9DCF6;
}

.staff-week-block {
	width: 150px;
	height: 200px;
	display: inline-block;
	text-align: center;
	margin: 10px 0;
}

.staff-block-inner {
	cursor: pointer;
}

.staff-block img {
	display: inline-block;
	margin: 0 auto;
	max-width: 180px;
	max-height: 230px;
}

.staff-week-block img {
	display: inline-block;
	margin: 0 auto;
	max-width: 90px;
	max-height: 115px;
}

.staff-block-inner h3 {
	margin: 6px;
	padding: 2px 0;
	font-size: 16px;
	font-weight: normal;
	border-radius: 6px;
	background-image: url("../images/icon2.png"), url("../images/icon2.png");
	background-position: 2% center, 98% center;
	background-size: 18px 18px, 18px 18px;
	background-repeat: no-repeat, no-repeat;
}

.staff-block-inner:hover h3 {
	color: #c11717;
}


/*******************************
            Staff
*******************************/

.comment {
	font-size: 14px;
	font-weight: normal!important;
}


/*******************************
            Access
*******************************/

#googlemap {
	height: 400px;
	width: 100%;
	background-color: #FFF;
	z-index: 1;
}

/*******************************
whats
*******************************/
h3.wt_title{
	color: #E3007F;
}
.wt_cont .label{
	width: 94%;
	margin: 0 auto;
}
.wt_cont p{
	width: 94%;
	margin: 0 auto 12px auto;
	border-bottom: dashed 1px #A9DCF6;
	padding-bottom: 12px;
	
}
.wt_cont p.comment{
	color: #E3007F;
	font-size: 16px;
	background-color: #F4E7F9;
	padding: 1rem;
	margin: 0 0 40px 0;
	border-style: none;
}
.attention_wrapper{
	width: 90%;
	margin: 0 auto;
}

.attention_wrapper p{
	padding: 1% 2%;
	background-color: #EFEFEF;
}

/*******************************
servise
*******************************/
.wrapper_servise ul{
	overflow: hidden;
	list-style: none;
	margin: 0 2%;
	padding: 0;
}
.wrapper_servise ul li{
	float: left;
	padding: 0 16px 0 0;
	font-size: 20px;
	color: #E74E95;
	line-height: 24px;
}
.wrapper_servise ul li{
	float: left;
	padding: 0 30px 0 0;
}
.wrapper_servise ul li:last-child{
	font-size: 14px;
	color: inherit;

}
.wrapper_servise .course{
	margin: 0 1% 1% 1%;
}
.wrapper_servise .course:before{
	content: "\f004";
	font-family: FontAwesome;
	padding-right: 4px;
}
.wrapper_servise .about{
	background-color: #FFF7A2;
	font-size: 13px;
	padding: 1% 2%;
	margin: 0 2%;
}
.wrapper_servise .note2{
	margin: 0 2%;
}
.wrapper_servise .inner{
	border-bottom: dashed 1px #A9DCF6;
	margin: 30px auto 46px auto;
}
























