input, button, textarea, select {
	//-webkit-appearance: none;
	//border-radius: 0;
	font-family: $base_fontfam;
}
input[type="button"],
input[type="submit"],
input[type="reset"]{
	-webkit-appearance: none;
	border: none;
}
//ここまでsmartphoneフォーム要素のデフォルトスタイルを削除


input,textarea{
	width:100%;     
	@include common_radius;
	border: 1px solid #9b9d9d;
	padding: 4px;
}

input:focus,
textarea:focus,
select:focus{
    outline:none;
    background-color:rgba(238,238,238,0.6);
}

input[type="submit"],input[type="button"],input[type="reset"]
	{
		//border:solid 1px #ccc;
		padding:6px;
		margin:0 0 10px;
		text-transform:uppercase;		
		cursor:pointer;
		background-color: $info-color;
		color: $info_light-color;
	}

select {
    background-image: url("#{$cssimg_path}pop-up-triangle.png"), linear-gradient(top, #FFF, #FFF);
    background-image: url("#{$cssimg_path}pop-up-triangle.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
	background-image: url("#{$cssimg_path}pop-up-triangle.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid #9b9d9d;
    box-shadow: inset 0 1px 0 #fff;
    color: #454545;
    border-radius: 3px;
    min-width: 70px;
    padding: 0 30px 0 5px;
    padding: 0 30px 0 5px;
    -webkit-appearance: none !important;
}
/* Firefox hack start */
@-moz-document url-prefix( ){
    select {padding: 0 0px 0 5px;}
}
/* Firefox hack end */

label:hover {
	color: #096;
	cursor: pointer;
}

.time-multi{
	.time-wrap{
		width:20%;
		float:left;
	}//time-wrap
	.time-parts{
		width: 6.6%;
		float: left;
		text-align: center;
	}//time-parts
}//time-multi
.time-mono{
	.time-wrap{
		width:20%;
		float:left;
	}//time-wrap
	.time-parts{
		width: 6.6%;
		float: left;
		text-align: center;
	}//time-parts
}//time-mono