//iframe

 #ifr-body{
	width:100%;
	max-width:700px;
	min-width:700px;
	background-color:#FFFFFF;
	background-image: none;
	
	.iframewrap{overflow:hidden;}
	
	.line01 li{width:$box_w100 / 1; float:left; padding:0.5%;}
	.line02 li{width:$box_w100 / 2; float:left; padding:0.5%;}
	.line03 li{width:$box_w100 / 3; float:left; padding:0.5%;}
	.line04 li{width:$box_w100 / 4; float:left; padding:0.5%;}
	.line05 li{width:$box_w100 / 5; float:left; padding:0.5%;}

} //#ifr-body