.mobile {
	a.meanmenu-reveal {
		display: none;
	}
	.mean-container {
		.mean-bar {
			float: left;
			width: 100%;
			position: fixed;
			top: 0;
			background: $main-color;
			padding: 0;
			min-height: 42px;
			z-index: $layer98;
			a {
				p {
					font-size: 1rem;
					line-height: 1.4rem;
				}
			}
		}
		a.meanmenu-reveal {
			width: 28px;
			height: 22px;
			padding: 13px 13px 11px 13px;
			position: absolute;
			top: -5px;
			right: 0;
			cursor: pointer;
			color: $color02;
			text-decoration: none;
			line-height: 12px;
			font-size: 10px;
			display: block;
			font-weight: 700;
			text-align: center;
			span {
				display: block;
				background: $color02;
				height: 3px;
				margin-top: 3px;
				&.title {
					font-size: 10px;
				}
			}
		}
		a.meanmenu-reveal2 {
			width: 28px;
			height: 22px;
			padding: 13px 13px 11px 13px;
			position: absolute;
			top: -5px;
			right: 30px;
			cursor: pointer;
			color: $color02;
			text-decoration: none;
			line-height: 12px;
			font-size: 10px;
			display: block;
			font-weight: 700;
			text-align: center;
			span {
				display: block;
				background: $color02;
				height: 3px;
				margin-top: 3px;
				&.title {
					font-size: 10px;
				}
			}
		}
		.mean-nav {
			float: left;
			width: 100%;
			margin-top: 44px;
			height: 94%;
			overflow-y: auto;
			ul {
				padding: 0;
				margin: 0;
				width: 100%;
				list-style-type: none;
				li {
					position: relative;
					float: left;
					width: 100%;
					margin: 0%;
					line-height: 32px;    //menu height                
					a {
						display: block;
						float: left;
						width: 90%;
						padding: 5px 0%;
						margin: 5px 5%;
						;
						text-align: center;
						color: #fff;
						border: 1px solid rgba(255, 255, 255, 0.5);
						text-decoration: none;
						text-transform: uppercase;
						background-color: $color07;
						border-radius: 4px;
						&.mean-expand {
							/*margin-top: 1px;*/
							width: 42px;
							/*height: 32px;*/
							text-align: center;
							position: absolute;
							right: 0;
							top: 0;
							z-index: $layer99;
							font-weight: 700;
							background: rgba(255, 255, 255, 0.1);
							border: none !important;
							border-left: 1px solid rgba(255, 255, 255, 0.4) !important;
							border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
							&:hover {
								background: rgba(0, 0, 0, 0.9);
							}
						}
					}
					li {
						a {
							width: 90%;
							border-top: 1px solid #f1f1f1;
							border-top: 1px solid rgba(255, 255, 255, 0.25);
							background-color: $color08;
							text-shadow: none !important;
							visibility: visible;
						}
						&.mean-last a {
							border-bottom: none;
							margin-bottom: 0;
						}
						li {
							a {
								width: 70%;
								padding: 1em 15%;
							}
							li {
								a {
									width: 60%;
									padding: 1em 20%;
								}
								li {
									a {
										width: 50%;
										padding: 1em 25%;
									}
								}
								//li li li li  li                            

							}
							//li li li li                        

						}
						//li li li                    

					}
					//li li                

				}
				//li            

			}
			//ul
			.wrapper {
				width: 100%;
				padding: 0;
				margin: 0;
			}
			.meanclose {
				height: 100%;
				overflow-y: auto;
			}
		}
		.mean-bar,
		.mean-bar * {
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
		}
		.open {
			height: 100%;
		}
	}
	//mean-container

}
//mobile