/************************************************************
 * modal
 ************************************************************/

.cookiemodal { 
	display:none; 
	z-index:$layer99; 
	margin:0; 
	color:#646c71; 
  background-color:#FFFFFF;
}

.modal{
    width: 80%;
    height: 70%;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index:$layer99;
    
    h2{
        font-size: large;
        padding: 10px 0;
        font-weight: 800;
    }
}


.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* .close_modal{z-index: 999999; position: fixed;; top: 0; right: 0;} */
.close_modal a{color: #646c71;}

/***********************/

.md-modal { visibility: hidden;}

.md-show {  visibility: visible;}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;  
  top: 0;
  left: 0;
  z-index: $layer99;
  visibility: hidden;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-close {  }
