//************************* Breadcrumbs/
.breadcrumbs {
	width:100%;
	list-style: none;
	font-size:1.2rem;
	line-height: 4rem;
	overflow: hidden;
	padding: 0;
	text-align:right;

	li {  
		margin:0;  
		display: inline-block; 
		&.root:after{content:" >";}
		a {
			color: $sublink-color;
			text-decoration: none;                                
		}
		&.active{
			a{color:$main-color ; }            
		}
	}
}

//************************* Recent Budge/
.new-badge{
	&:after {
		content: "new";
		color: $base-color;
		border-radius:10px;
		background-color:$main-color;
		font-size: 12px;
		font-weight: bold;
		padding: 2px 5px;
	}
}

//************************* Back to top button/
#back-top {	
	position: fixed;    
	bottom: 30px;	
	right:5px; 
	opacity:0.5;

	a {
		display: block;
		text-align: center;
		font: 11px/100% Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: #bbb;

		/* transition */
		@include prefix(transition, 1s);

		&:hover {
			color: #000; opacity:1.0;
			span {color: #777;}
		}    
	} 

	/* arrow icon (span tag) */
	span {
		display: block;
		margin-bottom: 7px;
		font-size:30px;

		/* transition */
		@include prefix(transition, 1s);
	}
}//back-top

//************************* collapse/
.collapse {
	width:100%;
	dt {
  	@include fontsize(24);
  	//line-height: 1.8rem;
  	border-radius: 6px;
  	padding: 8px 10px;
  	margin-top: 5px;
  	cursor: pointer;
  	color: $main-color;
		border: 1px solid $line-color;
  	background-color: $base-color;
		position: relative;
		@include fa-icon-af("\f139", 24, 18, $main-color, 10px);		
		&:after{top: calc(50% - 9px);}
		i {
  		float: right;
			@include fontsize(20);
			@include lineheight(18);
			&:before {
				content: "\f139";
			}
		}
		&.active{
			i{
				&:before {
					content: "\f13a";
				}
			}//i
			@include fa-icon-af("\f13a", 24, 18, $main-color, 10px);
		}//active
	}//dt
	
	.title{
		background-color:$text-color;
		color: $base-color;
		@include fontsize(14);
		@include lineheight(30);
		padding-left: 10px;
		margin-bottom: 8px;
	}
	
	.reverse{
			@include fa-icon-af("\f13a", 24, 18, $main-color, 10px);		
		&.active{
			@include fa-icon-af("\f139", 24, 18, $main-color, 10px);
		}//active
	}
	
	h3{
		border: none;
		margin-bottom: 0;
	}
	
}//collapse

.collapse-child{
	dt {
		@include fontsize(14);
		//line-height: 1.8rem;
		border-radius: 6px;
		padding: 4px 10px;
		margin: 5px 0;
		cursor: pointer;
		color: $text-color;
		border: none;
		background-color: $third-color;
		position: relative;
		@include fa-icon-af("\f139", 20, 20, $base-color, 10px);		
		&:after{top: calc(50% - 9px);}
		i {
			float: right;
			@include fontsize(20);		
			@include lineheight(18);
			&:before {
				content: "\f139";
			}
		}
		&.active{
			i{
				&:before {
					content: "\f13a";
				}
			}//i
			@include fa-icon-af("\f13a", 20, 20, $base-color, 10px);
		}//active
	}//dt
	.title{
		background-color:transparent;
		color: $text-color;
		@include fontsize(14);
		@include lineheight(30);
		padding-left: 10px;
		margin-bottom: 8px;
		border-bottom: 1px solid;
	}
	.reverse{
		@include fa-icon-af("\f13a", 20, 20, $base-color, 10px);		
		&.active{
			@include fa-icon-af("\f139", 20, 20, $base-color, 10px);
		}//active
	}
}//collapse-child

//************************* bsmList/
.bsmContainer{	
	.bsmList-custom{
		li{
			padding: 8px;
			border: 1px solid;
			border-radius: 6px;
			margin: 5px;
			@include fontsize(12);
			background-color: $third-color;
			span{}
			a{
				padding: 3px 8px;
				margin-left: 5px;
				font-weight: bold;
				border-radius: 4px;
				border: 1px solid $text-color;
				background-color: $base-color;			
			}
		}//li
	}//bsmList-custom
}//bsmContainer

//************************* GoogleMap/
.gm-style-iw{ 
	min-width:300px; 
	max-width:300px; 
	padding:20px;	
	& > div{
		overflow: hidden;
		overflow-y: auto;		
	}
}//gm-style-iw

//************************* jquery.calendar/
.calendar-area{
	overflow: hidden; margin-bottom: 20px;
	.navi{
		height: 20px;
		.prev{float: left; @extend .button; width: auto;}
		.next{float: right; @extend .button; width: auto}
	}//navi
	.main{
		.caption{
			text-align: center;
			margin: -12px 0 10px;
		}
	}//main
	.today{
		&:after{
			content: none !important;
		}
	}
	.todayLink{
		@extend .button;
	}
	table.calendar{
		width: 100%;
		margin: 0 0 10px 0;
		text-align: center;
		th,td{padding: 5px;}
		th{
			width: (100%) / 7; 
			background-color: $main-color; 
			color: $base-color;
		}
		td{
			border: 1px solid $second-color;
			&.today{background-color:$second-color; 
				&:after{content:none;}
			}//today
			&.event{
				background-color: $warning-color;
			}//event
		}//td
	}//table

}//calendar-area