.pc-pagination{
	//margin:15px 0 20px 1%;

	.smaller{	}
	.larger{	}
	.current,.now-tag{
    padding: 3px;
    margin: 0 2px 0 2px;
    border: 1px solid #ccc;
    background-color: $base-color;
		color:$text-color;
	}
	.nextpostslink,.next-tag{margin-left: 10px;}
	.prevpostslink,.prev-tag{margin-right: 10px;}
	.pages{margin-right: 10px; }
	.pages-num,.other-tag{
		a{
			margin-right: 10px;
			background-color:$link-color; 
			color:$base-color;
			padding: 3px;
			margin: 0 2px 0 2px;
			border: 1px solid #ccc;
		}
	}//pages-num	
}//pc-pagination

@font-face {
  font-family: 'arrowicons';
  src: url("../font/arrowicons.eot");
  src: url("../font/arrowicons.eot?#iefix") format('embedded-opentype'), url("../font/arrowicons.woff") format('woff'), url("../font/arrowicons.ttf") format('truetype'), url("../font/arrowicons.svg#arrowicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

.sp-slider-wrapper {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	padding: 15px 20%;//Def-65px
	position: relative;
	margin: 0 auto;
	width: 0px;
	-webkit-transition: width 150ms ease-out;
	transition: width 150ms ease-out;
    
    nav a {
	    position: absolute;
	    width: 50px;
	    height: 50px;
	    line-height: 50px;
	    top: 0;
	    cursor: pointer;
	    text-indent: -9000px;
        
        &.sp-prev {	left: 0px;
            &:after {font-family:"FontAwesome"; content: '\f053';}
        }
        &.sp-next {	right: 0px;
            &:after {font-family:"FontAwesome"; content: '\f054';}
        }
        
        &:after {
	        font-family:"FontAwesome";
	        font-style: normal;
	        font-weight: normal;
	        speak: none;
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	        height: 100%;
	        text-align: center;
	        line-height: inherit;
	        text-indent: 0px;
	        font-size: 30px;
	        color: #fff;
	        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
        }
        
       
    }
}
.sp-slider {
	background: $main-color;
	height: 15px;
	border-radius: 4px;
	position: relative;

    .ui-slider-handle {
	    outline: none;
	    width: 40px;
	    height: 40px;
	    border-radius: 8px;
	    border: none;
	    top: -12px;
	    margin-left: -20px;
	    left: 0;
	    cursor: pointer;
	    position: absolute;
	    background-color: #fff;
	    box-shadow: 0 -1px 0 rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.7), inset 1px -1px 1px rgba(0,0,0,0.1);        
        
        &.ui-state-active {
	        box-shadow: 
		        0 -1px 0 rgba(0,0,0,0.1), 
		        0 1px 0 rgba(255,255,255,0.7), 
		        inset 1px -1px 2px rgba(0,0,0,0.15);
        }
        
        span {
	        position: absolute;
	        width: 100%;
	        height: 100%;
	        z-index: 10;
	        text-align: center;
	        background: transparent;
	        color: $color09;
	        //font-family: 'Lato', Arial, sans-serif;
	        font-weight: 900;
	        line-height: 40px;
	        font-size: 1.4rem;
	        text-shadow: 0 1px 1px rgba(255,255,255,0.9);        
            
            
        }        
    }

    a:hover{opacity:1;}
}
.sp-slider-open{
    
    .ui-slider-handle {
	    box-shadow: 
		    0 1px 2px rgba(0,0,0,0.1),
		    0 6px 3px -3px rgba(0,0,0,0.1);
        
        &.ui-state-active {
	        box-shadow: 
		    0 1px 2px rgba(0,0,0,0.1),
		    0 4px 3px -3px rgba(0,0,0,0.1);
        }
        span {	color: #aaa;}
    }
}
.sp-slider .ui-slider-handle:after,
.sp-slider .ui-slider-handle:before {
	content: '';
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	opacity: 0.8;
	background-color: #fff;
}
.pagenav-text{text-align:center;}