.preview{
	.pc-view {
		width: 980px;
		padding: 20px;
		border: 1px solid;
		margin: 20px auto;
		position: relative;
		overflow: hidden;
	}
	
	.sp-view {
		width: 320px;
		border: 1px solid;
		margin: 20px auto;
		overflow: hidden;
		padding: 5px;
	}
	
	.mb-view {
		width: 240px;
		border: 1px solid;
		margin: 20px auto;
		p{ @include lineheight(13);}
		.unit{
			margin: 0;
			border: none;
			padding: 0;
			border-radius: 0;
		}
		.sub-area{
			border: none;
		}
		.title{
			border: none;
			padding: 0;
		}
	}//mb-view
	
	.contents{
		width: 100%;
	}
}