table{width:100%;}
table.respo-tbl{
    width:100%; text-align:left; margin:5% auto;
    tr{border-bottom:1px dotted $line-color;}
    th,td{padding:2%;}
    th{
    	//width:35%; 
    	width: auto;
    	vertical-align: middle;
    	span{
						width: 100%;
    		display: inline-block;
						margin-top: 5px;
						color:$main-color;
    		}
					.note{color: $disable-color;}
    }
    td{width:55%; vertical-align: middle;
        &:nth-child(even){
        //	width:10%;
        	width: auto;
        	}     
					.req{
						border: 1px solid;
						padding: 6px;
						border-radius: 4px;
					}   
		}
	input,select,textarea{width:100%; }
	input[type="radio"],input[type="checkbox"]{width:auto;}
}//respo-tbl
table.system{
	.price-tbl{
		th{width:auto; text-align:left;}
		td{width:7rem; text-align:right;}
	}
}//system
table.company {
	$point-color:$main-color;
	width: 500px;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0px 15px;
	th,td {	padding: 10px;}
	th {
		background: $point-color;
		vertical-align: middle;
		text-align: left;
		width: 100px;
		overflow: visible;
		position: relative;
		color: $base-color;
		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-left-color: $point-color;
			border-width: 10px;
			margin-top: -10px;
		}
	}
/* firefox */
@-moz-document url-prefix() {
	table.company th::after {
		float: right;
		padding: 0;
		left: 30px;
		top: 10px;
		content: " ";
		height: 0;
		width: 0;
		position: relative;
		pointer-events: none;
		border: 10px solid transparent;
		border-left: $point-color 10px solid;
		margin-top: -10px;
	}
}

td {
	width: 360px;
	padding-left: 20px;
}

}//company