/*Tab Menu #####################################*/

.tabmenu {
	.tab-nav {
		/*overflow: hidden;*/
		zoom: 1;
		li {
			display: inline-block;
			width: 25%;
			height: 20px;
			line-height: 20px;
			border-right: 1px solid #666666;
			text-align: center;
			position: relative;
			-webkit-filter: drop-shadow(0px 1px 1px black);
			background: #FFF;
			z-index: $layer01;
			&:last-child {
				border-right: none;
			}
		}
	}
	.area {
		position: relative;
	}
	.active {
		position: relative;
		background-color: #FFF;
		&:after {
			content: ' ';
			height: 0;
			width: 0;
			position: absolute;
			border: 10px solid transparent;
			border-top-color: #FFF;
			top: 20px;
			left: 20%;
		}
	}
}
/* Tab set------------------------------// */

#optionnav {
	width: 100%;
	margin-top: 5%;
	padding-bottom: 10%;
}
#optionmenu {
	overflow: hidden;
	zoom: 1;
	li {
		float: left;
		width: 31%;
		margin: 0 1%;
		height: auto;
		text-align: center;
		background-color: $base-color;
		cursor: pointer;
		padding: 6px 0;
		&:hover,.active {
			background-color: $text-color
		}
	}
}
.tab-content {
	.area {
		width: 100%;
		margin: 1rem auto;
		padding-bottom: 1rem;
		background: $base-color;
		padding-top: 10px;
		h3 {
			font-size: $font_size + 0.2rem;
			padding: 5px;
		}
	}
	.column {
		@include prefix(column-count, 4);
		@include prefix(column-rule, 1px solid $color02);
		padding-right: 5rem;
		padding-left: 1rem;
		text-align: center;
	}
}


//Profile page tab
.tab {
	width: 100%;
	border: 1px solid $third-color;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 10px;
	.tab-nav {
		overflow: hidden;
		zoom: 1;
		margin-bottom: 10px;
		
		li {
			width: $box_w100 / 3;
			float: left;
			line-height: 20px;
			text-align: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;			
			a {
				display: block;
				padding: 10px;
				border-bottom: 1px solid $main-color;
				text-align: center;
				font-size: 1.2rem;
				text-decoration: none;
				color:$third-color;
			}
			&.active a {
				border-bottom: none;
				border-left: 1px solid $main-color;
				border-right: 1px solid $main-color;
				border-top: 1px solid $main-color;
				border-radius: 8px 8px 0px 0px;
			}
		}
	}
	//tab-nav
	.area {
		height: 620px;
		overflow: auto;
        overflow-x: hidden;
	}
}