.mobile{//mobile setting ****************************


    .mean-bar {
        float: left;
        width: 100%;
	    position: fixed;
	    background: #0c1923;
	    padding:  0;
	    min-height: 42px;
	    z-index: $layer99;
    }

    a.meanmenu-reveal {
	    width: 22px;
	    height: 22px;
	    padding: 13px 13px 11px 13px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    cursor: pointer;
	    color: #fff;
	    text-decoration: none;
	    font-size: 16px;
	    text-indent: -9999em;
	    line-height: 22px;
	    font-size: 1px;
	    display: block;
	    font-family: Arial, Helvetica, sans-serif;
	    font-weight: 700;
        
        span {
	        display: block;
	        background: #fff;
	        height: 3px;
	        margin-top: 3px;
        }
    }

    .mean-nav {
	    float: left;
	    width: 100%;
	    background: #0c1923;
	    margin-top: 44px;
        height: 94%;
        overflow-y:auto;
        
        ul {
	        padding: 0;
	        margin: 0;
	        width: 100%;
	        list-style-type: none;
            
            li {
	            position: relative;
	            float: left;
	            width: 100%;
                line-height:32px;//menu height
                
                a {
                    display: block;
                    float: left;
                    width: 90%;
                    padding: 1rem 5%;
                    margin: 0;
                    text-align: left;
                    color: #fff;
                    border-top: 1px solid #383838;
                    border-top: 1px solid rgba(255,255,255,0.5);
                    text-decoration: none;
                    text-transform: uppercase;
                    
                    &:hover {
	                    background: #252525;
	                    background: rgba(255,255,255,0.1);
                    }
                    
                    &.mean-expand {
	                    /*margin-top: 1px;*/
	                    width: 32px;
	                    /*height: 32px;*/
	                    padding: 10px !important;
	                    text-align: center;
	                    position: absolute;
	                    right: 0;
	                    top: 0;
                    	z-index: $layer02;
                    	font-weight: 700;
                    	background: rgba(255,255,255,0.1);
                    	border: none !important;
                    	border-left: 1px solid rgba(255,255,255,0.4) !important;
                    	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
                        
                        &:hover {	background: rgba(0,0,0,0.9);}
                    }
                }
                
                li{   
                    
                    a {
	                    width: 80%;
                        padding: 1em 10%;
	                    border-top: 1px solid #f1f1f1;
                        border-top: 1px solid rgba(255,255,255,0.25);
                        opacity: 0.75;
                        filter: alpha(opacity=75);
                        text-shadow: none !important;
                        visibility: visible;
                    }
                    
                    &.mean-last a {
	                    border-bottom: none;
	                    margin-bottom: 0;
                    }
                    
                    li{ 
                        a {
	                        width: 70%;
	                        padding: 1em 15%;
                        }
                        
                        li {
                            a {
	                            width: 60%;
	                            padding: 1em 20%;
                            }
                            
                            li {
                                a {
	                                width: 50%;
	                                padding: 1em 25%;
                                }
                            } //li li li li  li
                        
                        } //li li li li                        
                        
                    } //li li li
                    
                }//li li
                
            }//li
            
        }//ul
        
        .wrapper {
	        width: 100%;
	        padding: 0;
	        margin: 0;
        }

        .meanclose{        
            height:100%;
            overflow-y:auto;
        }

    } //mean-nav

    /* Fix for box sizing on Foundation Framework etc. */
    .mean-bar, 
    .mean-bar * {
        -webkit-box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    box-sizing: content-box;
    }

    .open{height:100%;}

}//mean-container


