// What's New--Recent Post
#whatsnewbox{  width:100%;	color:#FFF;}
.newpost{	
    width:100%;	padding: 0 0 1% 0;
    p{line-height:2rem;}
}
.w-tit{
    font-size:13px;
    color:#000;
	margin-bottom:2%;	
    padding-bottom:10px;
    border-bottom:dotted  1px #333;
    font-weight: bold;
    a{color:#FFF;}
}
.w-date{
	@include prefix(border-radius, 4px);
	background-color:#666;
	padding:0.2% 5%;
}
.w-feed{
	margin-left:1%;	
    @include prefix(border-radius, 4px);
	background-color:#666;    
	padding:0.2% 5%;
	color:#FFF	
}