<link rel="stylesheet" href="/css/style.css" media="all" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
<!-- Skype hidden -->
<style type="text/css">
SPAN.skype_pnh_print_container{display:inline !important;}
SPAN.skype_pnh_container,SPAN.skype_pnh_container *{display:none !important;}
</style>
<link rel="shortcut icon" href="img/favicon.png" />