<!--Device.js-->
<script src="/js/device.js"></script>
<script>
    console.log("device.portrait() === %s", device.portrait());
    console.log("device.landscape() === %s", device.landscape());
    console.log("device.mobile() === %s", device.mobile());
    console.log("device.tablet() === %s", device.tablet());
    console.log("device.ipad() === %s", device.ipad());
    console.log("device.ipod() === %s", device.ipod());
    console.log("device.iphone() === %s", device.iphone());
    console.log("device.android() === %s", device.android());
    console.log("device.androidTablet() === %s", device.androidTablet());
    console.log("device.blackberryTablet() === %s", device.blackberryTablet());
</script>