<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>

<!--[if lte IE 8]>
<script src="/js/html5shiv.js"></script>
<script src="/js/jquery.backgroundSize.js"></script>
<script>
    jQuery(document).ready(function() {
        jQuery('NAME').css({backgroundSize: "cover"});
    });
</script>
<![endif]-->
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/jquery.tile.js"></script>
	<script type="text/javascript" src="/js/jquery.iframe-auto-height.js"></script>
	<script type="text/javascript" src="/js/jquery.browser.js"></script>
	<!--<script type="text/javascript" src="/lifesupport/js/jquery.sidr.min.js"></script>-->
	<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<!--common js-->
<script type="text/javascript" src="/js/common.js"></script>