<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="description" content="№1見学店ラブライフ！マジックミラーはクリアーでワイドな広々最大画面！他店にない激アツオプション多数ございます！ 大手だからできるクオリティの高さをぜひご堪能くださいませ！！">
<meta name="keywords" content="見学店,高収入,大阪,日本橋,梅田,秋葉原,萌え,ラブライフ,らぶらいふ,LoveLife">

<meta property="og:site_name" content="アイドル見学店ラブライフ！">
<meta property="og:title" content="アイドル見学店ラブライフ！">
<meta property="og:type" content="website">
<meta property="og:url" content="http://lvlf.jp/">
