//ここで全てのfont設定を管理します
//絶対に守って欲しいのはfont-sizeをここ以外で指定しない事
//必ず以下の mixin から include して使用
//ex. @include txt-01; 

@mixin txt-01{@include fontsize(10); @include lineheight(14);}
@mixin txt-02{@include fontsize(11); @include lineheight(16);}
@mixin txt-03{@include fontsize(12); @include lineheight(18);}
@mixin txt-04{@include fontsize(13); @include lineheight(20);}
@mixin txt-05{@include fontsize(14); @include lineheight(22);}

body{
	@include txt-03;
	word-break: normal;
	text-align: justify;
	letter-spacing: 0.05rem;
}

h1{
	@include fontsize(12);
	@include lineheight(24);
	color: $fourth-color;
	letter-spacing: 0.3rem;
}
h2{
	@include fontsize(22);
	@include lineheight(58);

	font-weight: bold;

	background-color: $pafo-third-color;
	text-align: center;
	background-image: url(/img/bg2r.png), url(/img/bg2l.png);
	background-position: 1% center, 99% center;
	background-repeat: no-repeat, no-repeat;
	background-size: 50px 50px, 50px 50px;


}
h3{
	@include fontsize(14);
	@include lineheight(28);
	margin-bottom: 10px;
	border-bottom: 1px dotted $second-color;
	color: $main-color;
}
h4{
	@include fontsize(13);
	@include lineheight(20);
}
h5{
	@include fontsize(13);
	@include lineheight(16);
}

//以下文字の直接の調整不可
p{  @include txt-03; }
.center{text-align:center}
.justify{text-align:justify}
.srash-a:after {content: '/'; margin: 0 0.5em; }
.srash-b:before {content: '/'; margin: 0 0.5em; }
.req{color:$danger-color; }
.text-overflow {//テキストが表示領域をオーバーフローした際に「…」を表示
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.note{
	width: 100%; 
	background-color:$disable-color; 
	@include common_radius;
	padding: 10px;
	}//note

.title{@include txt-04; font-weight: bold;}
.name{@include txt-03; font-weight: bold;}
.date{@include txt-02;}
.comment{@include txt-02;}
.data{@include txt-02;}
.age{@include txt-02;}
