iframe{	width:100%;	}

.iframe{
		table{vertical-align: bottom;}
		tr{vertical-align: bottom;}
		td{vertical-align: bottom;}
		th{vertical-align: bottom;}
}

//Shinchaku Jouho
.shinchaku {
	background-color: transparent;
	.contents {
		width: 100%; padding:0;}//contents
		.free-area {
			padding: 20px 0;
			border-bottom: 1px dotted;
			border-top: 1px dotted;			
			clear: both;
			img {
				width: auto;
			}
		}//free-area
		.shinchaku-wrap {
				width:48%;
				float:left;
				padding: 10px;
				margin: 20px 1%;
				border: 1px solid $text-color;
				overflow: hidden;
				.title {background-color: $main-color; padding-left:10px; color:$base-color;} 
				img {
					width: 100%;
				}
				$pic-w:40%;
				$text-w:100 - $pic-w;
				.pict {
					width: $pic-w;
					float: left;
				}
				.text {
					width: $text-w;
					float: left;
					padding-left: 5px;
					.name {
						@include fontsize(14); 
						font-weight: bold;
						padding:10px 0;
						color:$base-color;
					}//name
				}//text
			}//shinchaku-wrap
	}//shinchaku

	//top
	.top {
		iframe {
			width: 100%;
			height: 260px;
		}
	}
	
