.top{
	$top-contentswidth: 100%; //Fix
	$top-sideAwidth: 18%;
	$top-sideBwidth: 18%;

	.contents {
		width: $top-contentswidth - ($top-sideAwidth + $top-sideBwidth);
		padding: 0 10px;		
	}//contents
	.SideA{
		width: $top-sideAwidth; 
		@if $top-sideAwidth == 0 {
			display:none;
		}@else{
			display:block;
		}
	}//SideA	
	.SideB{
		width: $top-sideBwidth; 
		@if $top-sideBwidth == 0 {
			display:none;
		}@else{
			display:block;
		}
	}//SideB	

}