.mobile {
	
	.mean-container{		 
		.mean-nav {
			ul{
				li{
					.phonenum {
							@include fontsize(14);
						a {
							border-radius: 16px;
							background-color: $link-color;
							border: 1px solid $color07;
							@include fa-icon("\F095", 14, 18, $base-color, 10px);
						}
					}//phonenum
				}//li
			}//ul
		}//mean-nav		
	}//mean-container
}//mobile