//Profile page tab
.tab {
	.tab-nav {		
		border-bottom: 1px solid $main-color;
		li {
			width: auto;
			border: 1px solid $main-color;
			border-bottom:none;
			border-radius: 8px 8px 0px 0px;
			a{border:none; padding: 10px 20px;}
			&.active a{
				background-color:$link-color; 
				border-radius: 8px 8px 0px 0px; 
				color:$base-color;
				font-weight: bold;
			}
		}
	}
	//tab-nav
	.area {
	}
}