			<div class="clearfix"></div>			
			<div class="bottomwidget">
				<div class="recommended">
					<h3>その他のおすすめ奥様</h3>
					<ul>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
							<p>&nbsp;</p>
						</li>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
							<p>&nbsp;</p>
						</li>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
							<p class="button">本日出勤</p>
						</li>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
							<p class="button">本日出勤</p>
						</li>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
							<p>&nbsp;</p>
						</li>
					</ul>
				</div>
				<!--//recommended-->
				<div class="clearfix"></div>

				<div class="history">
					<h3>これまでにチェックした奥様</h3>
					<ul>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
						</li>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
						</li>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
						</li>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
						</li>
						<li>
							<img src="/img/visitor_shop/cp/cpid-100.jpg">
						</li>
					</ul>
				</div>
				<!--//history-->
				<div class="clearfix"></div>
			</div>
			<!--//bottomwidget-->