<div class="header">
	<header>

		<h1>ぱふぉリフレ学園 ぱふぉろま グループ総合情報サイト</h1>
		<div class="branding">
			<a href="/index.html">
				<img src="img/pafo_logo.png" alt="ぱふぉリフレ学園ぱふぉろま">
			</a>
		</div><!--//branding-->
		
		<div class="text">
			今夏オープンの日本「初」！秋葉原「初」！！の ぱふぉリフレ「ぱふぉろま」です(≧▽≦)<br>
			大阪初♪全国でも秋葉原とここだけのサービス内容です！<br>
			ぱふぉリフレ「ぱふぉろま」です！<br>
			ぱふぉリフレって何？？と思った人はたくさんいると思います。言葉では説明できません。<br>
			一度、足を運んで頂ければ満足すること間違いありません！女の子は、元気でかわいい若い子ばかりなので癒されちゃいます！<br>
			ご来店お待ちしてます！！
		</div>
	
	</header>
</div>
<!-- //#header -->

<div id="back-top">
	<a><i class="fa fa-arrow-up"></i></a>
</div>


<!--
		<ul class="breadcrumbs">
			<li class="root">
				<a href="#">Top</a>
			</li>
			<li class="root">
				<a href="#">Category</a>
			</li>
			<li class="root">
				<a href="#">Category2</a>
			</li>
			<li class="active">
				<a href="#">Page Title</a>
			</li>
		</ul>
//breadcrumbs-->
