		<div class="SideB">
		<aside>
			
			<div class="section">
			<section>
				<ul>
					<li><a href="/recruit.html"><img src="/img/lovelife_bnr1.png" alt=""></a></li>
					<li><a href="/recruit.html"><img src="/img/lovelife_bnr2.png" alt=""></a></li>
				</ul>
			</section>
			</div><!--//section-->

		</aside>
		</div>
		<!-- //SideB -->