		<div class="SideA">
		<aside>
			<div class="section">
			<section>
				<ul>
					<li><a href="http://akb.parforoma.com" target="_blank"><img src="img/pafo_logo_akb.png" alt="秋葉原本店"></a></li>
					<li><a href="http://nmb.parforoma.com" target="_blank"><img src="img/pafo_logo_nmb.png" alt="日本橋オタロード店"></a></li>
					<li><a href="http://umd.parforoma.com" target="_blank"><img src="img/pafo_logo_umd.png" alt="梅田店"></a></li>
					<!--<li><a href="http://akb.lvlf.jp/" target="_blank"><img src="img/pafo_logo.png" alt="横浜店"></a></li>-->
				</ul>
			</section>
			</div><!--//section-->
		</aside>
		</div>
		<!-- //SideA -->