@charset "UTF-8";
/* ============================================= */
/* [Common Style] CSS Document                   */
/* date.Jul.2015                                 */
/* Ver.1.0.2                                     */
/*
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。 
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
================================================ */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url("http://fonts.googleapis.com/css?family=Merriweather+Sans:700,300");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
/* line 5, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, _reset.scss */
body {
  line-height: 1;
}

/* line 33, _reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, _reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
@font-face
{
	font-family: mplus-1p-regular;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
		format("truetype");
}
*/
/* line 51, themes\lovelife\_setting.scss */
.contents {
  width: 82%;
  padding: 0 10px;
}

/* line 55, themes\lovelife\_setting.scss */
.SideA {
  width: 18%;
  display: block;
}

/* line 63, themes\lovelife\_setting.scss */
.SideB {
  width: 0%;
  display: none;
}

/* line 6, themes\lovelife\partial\_index.scss */
.top .contents {
  width: 64%;
  padding: 0 10px;
}
/* line 10, themes\lovelife\partial\_index.scss */
.top .SideA {
  width: 18%;
  display: block;
}
/* line 18, themes\lovelife\partial\_index.scss */
.top .SideB {
  width: 18%;
  display: block;
}

/* line 12, themes\lovelife\partial\_font.scss */
body {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
  word-break: normal;
  text-align: justify;
  letter-spacing: 0.05rem;
}

/* line 19, themes\lovelife\partial\_font.scss */
h1 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
  color: #e74e95;
  letter-spacing: 0.3rem;
}

/* line 25, themes\lovelife\partial\_font.scss */
h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 58px;
  line-height: 5.8rem;
  font-weight: bold;
  background-color: #dac8e1;
  text-align: center;
  background-image: url(/img/bg2r.png), url(/img/bg2l.png);
  background-position: 1% center, 99% center;
  background-repeat: no-repeat, no-repeat;
  background-size: 50px 50px, 50px 50px;
}

/* line 40, themes\lovelife\partial\_font.scss */
h3 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-bottom: 10px;
  border-bottom: 1px dotted #a3a3a3;
  color: #404040;
}

/* line 47, themes\lovelife\partial\_font.scss */
h4 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}

/* line 51, themes\lovelife\partial\_font.scss */
h5 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 16px;
  line-height: 1.6rem;
}

/* line 57, themes\lovelife\partial\_font.scss */
p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
}

/* line 58, themes\lovelife\partial\_font.scss */
.center {
  text-align: center;
}

/* line 59, themes\lovelife\partial\_font.scss */
.justify {
  text-align: justify;
}

/* line 60, themes\lovelife\partial\_font.scss */
.srash-a:after {
  content: '/';
  margin: 0 0.5em;
}

/* line 61, themes\lovelife\partial\_font.scss */
.srash-b:before {
  content: '/';
  margin: 0 0.5em;
}

/* line 62, themes\lovelife\partial\_font.scss */
.req {
  color: #c9302c;
}

/* line 63, themes\lovelife\partial\_font.scss */
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 68, themes\lovelife\partial\_font.scss */
.note {
  width: 100%;
  background-color: #c4c4c4;
  border-radius: 4px;
  padding: 10px;
}

/* line 75, themes\lovelife\partial\_font.scss */
.title {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  font-weight: bold;
}

/* line 76, themes\lovelife\partial\_font.scss */
.name {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
  font-weight: bold;
}

/* line 77, themes\lovelife\partial\_font.scss */
.date {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
  line-height: 1.6rem;
}

/* line 78, themes\lovelife\partial\_font.scss */
.comment {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
  line-height: 1.6rem;
}

/* line 79, themes\lovelife\partial\_font.scss */
.data {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
  line-height: 1.6rem;
}

/* line 80, themes\lovelife\partial\_font.scss */
.age {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
  line-height: 1.6rem;
}

/* line 1, themes\lovelife\partial\_form.scss */
input, button, textarea, select {
  font-family: mplus-1p-regular, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo UI, "メイリオ", Meiryo, sans-serif;
}

/* line 6, themes\lovelife\partial\_form.scss */
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  border: none;
}

/* line 15, themes\lovelife\partial\_form.scss */
input, textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #9b9d9d;
  padding: 4px;
}

/* line 22, themes\lovelife\partial\_form.scss */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  background-color: rgba(238, 238, 238, 0.6);
}

/* line 29, themes\lovelife\partial\_form.scss */
input[type="submit"], input[type="button"], input[type="reset"] {
  padding: 6px;
  margin: 0 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #31b0d5;
  color: #c5e9f3;
}

/* line 40, themes\lovelife\partial\_form.scss */
select {
  background-image: url("img/pop-up-triangle.png"), linear-gradient(to bottom, #ffffff, #ffffff);
  background-image: url("img/pop-up-triangle.png"), -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: url("img/pop-up-triangle.png"), -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid #9b9d9d;
  box-shadow: inset 0 1px 0 #fff;
  color: #454545;
  border-radius: 3px;
  min-width: 70px;
  padding: 0 30px 0 5px;
  padding: 0 30px 0 5px;
  -webkit-appearance: none !important;
}

/* Firefox hack start */
@-moz-document url-prefix( ) {
  /* line 57, themes\lovelife\partial\_form.scss */
  select {
    padding: 0 0px 0 5px;
  }
}
/* Firefox hack end */
/* line 61, themes\lovelife\partial\_form.scss */
label:hover {
  color: #096;
  cursor: pointer;
}

/* line 67, themes\lovelife\partial\_form.scss */
.time-multi .time-wrap {
  width: 20%;
  float: left;
}
/* line 71, themes\lovelife\partial\_form.scss */
.time-multi .time-parts {
  width: 6.6%;
  float: left;
  text-align: center;
}

/* line 78, themes\lovelife\partial\_form.scss */
.time-mono .time-wrap {
  width: 20%;
  float: left;
}
/* line 82, themes\lovelife\partial\_form.scss */
.time-mono .time-parts {
  width: 6.6%;
  float: left;
  text-align: center;
}

/* line 1, themes\lovelife\partial\_button.scss */
.button, .calendar-area .navi .prev, .calendar-area .navi .next, .calendar-area .todayLink {
  width: 100%;
  border-radius: 4px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
  padding: 6px 20px;
  background-color: #6facff;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
}
/* line 11, themes\lovelife\partial\_button.scss */
.button a, .calendar-area .navi .prev a, .calendar-area .navi .next a, .calendar-area .todayLink a {
  color: white;
}
/* line 12, themes\lovelife\partial\_button.scss */
.button:hover, .calendar-area .navi .prev:hover, .calendar-area .navi .next:hover, .calendar-area .todayLink:hover {
  position: relative;
  top: 1px;
}

/* line 19, themes\lovelife\partial\_button.scss */
.button-center {
  border-radius: 4px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
  width: 50%;
  margin: 0 25%;
  padding: 6px 20px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #6facff;
  color: white;
}
/* line 31, themes\lovelife\partial\_button.scss */
.button-center:hover {
  position: relative;
  top: 1px;
}

/* line 37, themes\lovelife\partial\_button.scss */
.cancelled {
  cursor: auto;
}
/* line 39, themes\lovelife\partial\_button.scss */
.cancelled:hover {
  position: relative;
  top: 0px;
}

/* line 56, themes\lovelife\partial\_button.scss */
.default-b {
  color: black;
  background-color: white;
  border-color: #e6e6e6;
}

/* line 61, themes\lovelife\partial\_button.scss */
.primary-b {
  color: white;
  background-color: #337ab7;
  border-color: #285f8f;
}

/* line 66, themes\lovelife\partial\_button.scss */
.success-b {
  color: white;
  background-color: #5cb85c;
  border-color: #449d44;
}

/* line 71, themes\lovelife\partial\_button.scss */
.info-b {
  color: white;
  background-color: #31b0d5;
  border-color: #2490af;
}

/* line 76, themes\lovelife\partial\_button.scss */
.danger-b {
  color: white;
  background-color: #c9302c;
  border-color: #9f2623;
}

/* line 81, themes\lovelife\partial\_button.scss */
.warning-b {
  color: white;
  background-color: #f0ad4e;
  border-color: #ec971f;
}

/* line 86, themes\lovelife\partial\_button.scss */
.inverse-b {
  color: white;
  background-color: black;
  border-color: black;
}

/* line 91, themes\lovelife\partial\_button.scss */
.disable-b {
  color: white;
  background-color: #c4c4c4;
  border-color: #ababab;
  cursor: auto;
}
/* line 96, themes\lovelife\partial\_button.scss */
.disable-b:hover {
  position: relative;
  top: 0px;
}

/* line 101, themes\lovelife\partial\_button.scss */
.ghost-b {
  color: #404040;
  background-color: transparent;
  border: 1px solid #404040;
}
/* line 105, themes\lovelife\partial\_button.scss */
.ghost-b a {
  color: #404040;
}

/* line 108, themes\lovelife\partial\_button.scss */
.glass-b {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.3);
}

/* line 3, themes\lovelife\partial\_tab.scss */
.tab .tab-nav {
  border-bottom: 1px solid #404040;
}
/* line 5, themes\lovelife\partial\_tab.scss */
.tab .tab-nav li {
  width: auto;
  border: 1px solid #404040;
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
}
/* line 10, themes\lovelife\partial\_tab.scss */
.tab .tab-nav li a {
  border: none;
  padding: 10px 20px;
}
/* line 11, themes\lovelife\partial\_tab.scss */
.tab .tab-nav li.active a {
  background-color: #6facff;
  border-radius: 8px 8px 0px 0px;
  color: white;
  font-weight: bold;
}

/* line 1, themes\lovelife\partial\_iframe.scss */
iframe {
  width: 100%;
}

/* line 4, themes\lovelife\partial\_iframe.scss */
.iframe table {
  vertical-align: bottom;
}
/* line 5, themes\lovelife\partial\_iframe.scss */
.iframe tr {
  vertical-align: bottom;
}
/* line 6, themes\lovelife\partial\_iframe.scss */
.iframe td {
  vertical-align: bottom;
}
/* line 7, themes\lovelife\partial\_iframe.scss */
.iframe th {
  vertical-align: bottom;
}

/* line 11, themes\lovelife\partial\_iframe.scss */
.shinchaku {
  background-color: transparent;
}
/* line 13, themes\lovelife\partial\_iframe.scss */
.shinchaku .contents {
  width: 100%;
  padding: 0;
}
/* line 15, themes\lovelife\partial\_iframe.scss */
.shinchaku .free-area {
  padding: 20px 0;
  border-bottom: 1px dotted;
  border-top: 1px dotted;
  clear: both;
}
/* line 20, themes\lovelife\partial\_iframe.scss */
.shinchaku .free-area img {
  width: auto;
}
/* line 24, themes\lovelife\partial\_iframe.scss */
.shinchaku .shinchaku-wrap {
  width: 48%;
  float: left;
  padding: 10px;
  margin: 20px 1%;
  border: 1px solid #222222;
  overflow: hidden;
}
/* line 31, themes\lovelife\partial\_iframe.scss */
.shinchaku .shinchaku-wrap .title {
  background-color: #404040;
  padding-left: 10px;
  color: white;
}
/* line 32, themes\lovelife\partial\_iframe.scss */
.shinchaku .shinchaku-wrap img {
  width: 100%;
}
/* line 37, themes\lovelife\partial\_iframe.scss */
.shinchaku .shinchaku-wrap .pict {
  width: 40%;
  float: left;
}
/* line 41, themes\lovelife\partial\_iframe.scss */
.shinchaku .shinchaku-wrap .text {
  width: 60%;
  float: left;
  padding-left: 5px;
}
/* line 45, themes\lovelife\partial\_iframe.scss */
.shinchaku .shinchaku-wrap .text .name {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 0;
  color: white;
}

/* line 57, themes\lovelife\partial\_iframe.scss */
.top iframe {
  width: 100%;
  height: 260px;
}

/* line 1, themes\lovelife\partial\_table.scss */
table {
  width: 100%;
}

/* line 2, themes\lovelife\partial\_table.scss */
table.respo-tbl {
  width: 100%;
  text-align: left;
  margin: 5% auto;
}
/* line 4, themes\lovelife\partial\_table.scss */
table.respo-tbl tr {
  border-bottom: 1px dotted #6facff;
}
/* line 5, themes\lovelife\partial\_table.scss */
table.respo-tbl th, table.respo-tbl td {
  padding: 2%;
}
/* line 6, themes\lovelife\partial\_table.scss */
table.respo-tbl th {
  width: auto;
  vertical-align: middle;
}
/* line 10, themes\lovelife\partial\_table.scss */
table.respo-tbl th span {
  width: 100%;
  display: inline-block;
  margin-top: 5px;
  color: #404040;
}
/* line 16, themes\lovelife\partial\_table.scss */
table.respo-tbl th .note {
  color: #c4c4c4;
}
/* line 18, themes\lovelife\partial\_table.scss */
table.respo-tbl td {
  width: 55%;
  vertical-align: middle;
}
/* line 19, themes\lovelife\partial\_table.scss */
table.respo-tbl td:nth-child(even) {
  width: auto;
}
/* line 23, themes\lovelife\partial\_table.scss */
table.respo-tbl td .req {
  border: 1px solid;
  padding: 6px;
  border-radius: 4px;
}
/* line 29, themes\lovelife\partial\_table.scss */
table.respo-tbl input, table.respo-tbl select, table.respo-tbl textarea {
  width: 100%;
}
/* line 30, themes\lovelife\partial\_table.scss */
table.respo-tbl input[type="radio"], table.respo-tbl input[type="checkbox"] {
  width: auto;
}

/* line 34, themes\lovelife\partial\_table.scss */
table.system .price-tbl th {
  width: auto;
  text-align: left;
}
/* line 35, themes\lovelife\partial\_table.scss */
table.system .price-tbl td {
  width: 7rem;
  text-align: right;
}

/* line 38, themes\lovelife\partial\_table.scss */
table.company {
  width: 500px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 15px;
  /* firefox */
}
/* line 44, themes\lovelife\partial\_table.scss */
table.company th, table.company td {
  padding: 10px;
}
/* line 45, themes\lovelife\partial\_table.scss */
table.company th {
  background: #404040;
  vertical-align: middle;
  text-align: left;
  width: 100px;
  overflow: visible;
  position: relative;
  color: white;
}
/* line 53, themes\lovelife\partial\_table.scss */
table.company th:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #404040;
  border-width: 10px;
  margin-top: -10px;
}
@-moz-document url-prefix() {
  /* line 70, themes\lovelife\partial\_table.scss */
  table.company table.company th::after {
    float: right;
    padding: 0;
    left: 30px;
    top: 10px;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border: 10px solid transparent;
    border-left: #404040 10px solid;
    margin-top: -10px;
  }
}
/* line 86, themes\lovelife\partial\_table.scss */
table.company td {
  width: 360px;
  padding-left: 20px;
}

/* line 2, themes\lovelife\partial\_other.scss */
.breadcrumbs {
  width: 100%;
  list-style: none;
  font-size: 1.2rem;
  line-height: 4rem;
  overflow: hidden;
  padding: 0;
  text-align: right;
}
/* line 11, themes\lovelife\partial\_other.scss */
.breadcrumbs li {
  margin: 0;
  display: inline-block;
}
/* line 14, themes\lovelife\partial\_other.scss */
.breadcrumbs li.root:after {
  content: " >";
}
/* line 15, themes\lovelife\partial\_other.scss */
.breadcrumbs li a {
  color: #6facff;
  text-decoration: none;
}
/* line 20, themes\lovelife\partial\_other.scss */
.breadcrumbs li.active a {
  color: #404040;
}

/* line 27, themes\lovelife\partial\_other.scss */
.new-badge:after {
  content: "new";
  color: white;
  border-radius: 10px;
  background-color: #404040;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
}

/* line 39, themes\lovelife\partial\_other.scss */
#back-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  opacity: 0.5;
  background-color: #404040;
  /* arrow icon (span tag) */
}
/* line 46, themes\lovelife\partial\_other.scss */
#back-top a {
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  font-size: 20px;
  font-size: 2rem;
  padding: 1.6rem;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
/* line 59, themes\lovelife\partial\_other.scss */
#back-top a:hover {
  color: #000;
  opacity: 1.0;
}
/* line 61, themes\lovelife\partial\_other.scss */
#back-top a:hover span {
  color: #777;
}
/* line 66, themes\lovelife\partial\_other.scss */
#back-top span {
  display: block;
  margin-bottom: 7px;
  font-size: 30px;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

/* line 77, themes\lovelife\partial\_other.scss */
.collapse {
  width: 100%;
}
/* line 79, themes\lovelife\partial\_other.scss */
.collapse dt {
  font-size: 24px;
  font-size: 2.4rem;
  border-radius: 6px;
  padding: 8px 10px;
  margin-top: 5px;
  cursor: pointer;
  color: #404040;
  border: 1px solid #6facff;
  background-color: white;
  position: relative;
}
/* line 56, partial\_mixin.scss */
.collapse dt:after {
  content: "\f139";
  font-family: "FontAwesome";
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  color: #404040;
  padding-right: 10px;
  right: 0;
  position: absolute;
}
/* line 91, themes\lovelife\partial\_other.scss */
.collapse dt:after {
  top: calc(50% - 9px);
}
/* line 92, themes\lovelife\partial\_other.scss */
.collapse dt i {
  float: right;
  font-size: 20px;
  font-size: 2rem;
  line-height: 18px;
  line-height: 1.8rem;
}
/* line 96, themes\lovelife\partial\_other.scss */
.collapse dt i:before {
  content: "\f139";
}
/* line 102, themes\lovelife\partial\_other.scss */
.collapse dt.active i:before {
  content: "\f13a";
}
/* line 56, partial\_mixin.scss */
.collapse dt.active:after {
  content: "\f13a";
  font-family: "FontAwesome";
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  color: #404040;
  padding-right: 10px;
  right: 0;
  position: absolute;
}
/* line 110, themes\lovelife\partial\_other.scss */
.collapse .title {
  background-color: #222222;
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 30px;
  line-height: 3rem;
  padding-left: 10px;
  margin-bottom: 8px;
}
/* line 56, partial\_mixin.scss */
.collapse .reverse:after {
  content: "\f13a";
  font-family: "FontAwesome";
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  color: #404040;
  padding-right: 10px;
  right: 0;
  position: absolute;
}
/* line 56, partial\_mixin.scss */
.collapse .reverse.active:after {
  content: "\f139";
  font-family: "FontAwesome";
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  color: #404040;
  padding-right: 10px;
  right: 0;
  position: absolute;
}
/* line 126, themes\lovelife\partial\_other.scss */
.collapse h3 {
  border: none;
  margin-bottom: 0;
}

/* line 134, themes\lovelife\partial\_other.scss */
.collapse-child dt {
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 6px;
  padding: 4px 10px;
  margin: 5px 0;
  cursor: pointer;
  color: #222222;
  border: none;
  background-color: #ededed;
  position: relative;
}
/* line 56, partial\_mixin.scss */
.collapse-child dt:after {
  content: "\f139";
  font-family: "FontAwesome";
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 2rem;
  color: white;
  padding-right: 10px;
  right: 0;
  position: absolute;
}
/* line 146, themes\lovelife\partial\_other.scss */
.collapse-child dt:after {
  top: calc(50% - 9px);
}
/* line 147, themes\lovelife\partial\_other.scss */
.collapse-child dt i {
  float: right;
  font-size: 20px;
  font-size: 2rem;
  line-height: 18px;
  line-height: 1.8rem;
}
/* line 151, themes\lovelife\partial\_other.scss */
.collapse-child dt i:before {
  content: "\f139";
}
/* line 157, themes\lovelife\partial\_other.scss */
.collapse-child dt.active i:before {
  content: "\f13a";
}
/* line 56, partial\_mixin.scss */
.collapse-child dt.active:after {
  content: "\f13a";
  font-family: "FontAwesome";
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 2rem;
  color: white;
  padding-right: 10px;
  right: 0;
  position: absolute;
}
/* line 164, themes\lovelife\partial\_other.scss */
.collapse-child .title {
  background-color: transparent;
  color: #222222;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 30px;
  line-height: 3rem;
  padding-left: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid;
}
/* line 56, partial\_mixin.scss */
.collapse-child .reverse:after {
  content: "\f13a";
  font-family: "FontAwesome";
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 2rem;
  color: white;
  padding-right: 10px;
  right: 0;
  position: absolute;
}
/* line 56, partial\_mixin.scss */
.collapse-child .reverse.active:after {
  content: "\f139";
  font-family: "FontAwesome";
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 2rem;
  color: white;
  padding-right: 10px;
  right: 0;
  position: absolute;
}

/* line 184, themes\lovelife\partial\_other.scss */
.bsmContainer .bsmList-custom li {
  padding: 8px;
  border: 1px solid;
  border-radius: 6px;
  margin: 5px;
  font-size: 12px;
  font-size: 1.2rem;
  background-color: #ededed;
}
/* line 192, themes\lovelife\partial\_other.scss */
.bsmContainer .bsmList-custom li a {
  padding: 3px 8px;
  margin-left: 5px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #222222;
  background-color: white;
}

/* line 205, themes\lovelife\partial\_other.scss */
.gm-style-iw {
  min-width: 300px;
  max-width: 300px;
  padding: 20px;
}
/* line 209, themes\lovelife\partial\_other.scss */
.gm-style-iw > div {
  overflow: hidden;
  overflow-y: auto;
}

/* line 216, themes\lovelife\partial\_other.scss */
.calendar-area {
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 218, themes\lovelife\partial\_other.scss */
.calendar-area .navi {
  height: 20px;
}
/* line 220, themes\lovelife\partial\_other.scss */
.calendar-area .navi .prev {
  float: left;
  width: auto;
}
/* line 221, themes\lovelife\partial\_other.scss */
.calendar-area .navi .next {
  float: right;
  width: auto;
}
/* line 224, themes\lovelife\partial\_other.scss */
.calendar-area .main .caption {
  text-align: center;
  margin: -12px 0 10px;
}
/* line 230, themes\lovelife\partial\_other.scss */
.calendar-area .today:after {
  content: none !important;
}
/* line 237, themes\lovelife\partial\_other.scss */
.calendar-area table.calendar {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
}
/* line 241, themes\lovelife\partial\_other.scss */
.calendar-area table.calendar th, .calendar-area table.calendar td {
  padding: 5px;
}
/* line 242, themes\lovelife\partial\_other.scss */
.calendar-area table.calendar th {
  width: 14.28571%;
  background-color: #404040;
  color: white;
}
/* line 247, themes\lovelife\partial\_other.scss */
.calendar-area table.calendar td {
  border: 1px solid #a3a3a3;
}
/* line 249, themes\lovelife\partial\_other.scss */
.calendar-area table.calendar td.today {
  background-color: #a3a3a3;
}
/* line 250, themes\lovelife\partial\_other.scss */
.calendar-area table.calendar td.today:after {
  content: none;
}
/* line 252, themes\lovelife\partial\_other.scss */
.calendar-area table.calendar td.event {
  background-color: #f0ad4e;
}

/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("font/flexslider/flexslider-icon.eot");
  src: url("font/flexslider/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("font/flexslider/flexslider-icon.woff") format("woff"), url("font/flexslider/flexslider-icon.ttf") format("truetype"), url("font/flexslider/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
/* line 25, themes\lovelife\partial\_flexslider.scss */
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}

/* line 31, themes\lovelife\partial\_flexslider.scss */
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 39, themes\lovelife\partial\_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
/* line 45, themes\lovelife\partial\_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}
/* line 49, themes\lovelife\partial\_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* line 53, themes\lovelife\partial\_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}
/* line 57, themes\lovelife\partial\_flexslider.scss */
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 67, themes\lovelife\partial\_flexslider.scss */
html[xmlns] .flexslider .slides {
  display: block;
}

/* line 70, themes\lovelife\partial\_flexslider.scss */
* html .flexslider .slides {
  height: 1%;
}

/* line 73, themes\lovelife\partial\_flexslider.scss */
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
/* line 79, themes\lovelife\partial\_flexslider.scss */
.flexslider {
  margin: 0px;
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
}
/* line 92, themes\lovelife\partial\_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}
/* line 95, themes\lovelife\partial\_flexslider.scss */
.flexslider img {
  height: auto;
}

/* line 100, themes\lovelife\partial\_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 108, themes\lovelife\partial\_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 111, themes\lovelife\partial\_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* line 114, themes\lovelife\partial\_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}
/* line 116, themes\lovelife\partial\_flexslider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  /*  overflow: hidden;*/
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 135, themes\lovelife\partial\_flexslider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 143, themes\lovelife\partial\_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
/* line 147, themes\lovelife\partial\_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}
/* line 150, themes\lovelife\partial\_flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 157, themes\lovelife\partial\_flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
/* line 160, themes\lovelife\partial\_flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
/* line 164, themes\lovelife\partial\_flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
/* line 167, themes\lovelife\partial\_flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

/* line 173, themes\lovelife\partial\_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 178, themes\lovelife\partial\_flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
/* line 190, themes\lovelife\partial\_flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
/* line 196, themes\lovelife\partial\_flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}
/* line 199, themes\lovelife\partial\_flexslider.scss */
.flex-pauseplay a .flex-play:before {
  content: '\f003';
}

/* line 203, themes\lovelife\partial\_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
/* line 208, themes\lovelife\partial\_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 213, themes\lovelife\partial\_flexslider.scss */
.flex-control-nav li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 228, themes\lovelife\partial\_flexslider.scss */
.flex-control-nav li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
/* line 232, themes\lovelife\partial\_flexslider.scss */
.flex-control-nav li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 240, themes\lovelife\partial\_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
/* line 244, themes\lovelife\partial\_flexslider.scss */
.flex-control-thumbs li {
  width: 24%;
  float: left;
  margin: 0 0.5%;
}
/* line 249, themes\lovelife\partial\_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 260, themes\lovelife\partial\_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}
/* line 264, themes\lovelife\partial\_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  /* line 274, themes\lovelife\partial\_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 278, themes\lovelife\partial\_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* line 28, style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, _common.scss */
html {
  font-size: 62.5%;
}

/* line 3, _common.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 11, _common.scss */
.flex-layout {
  width: auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
/* line 16, _common.scss */
.flex-layout img {
  width: auto;
  vertical-align: bottom;
}
/* line 17, _common.scss */
.flex-layout ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 18, _common.scss */
.flex-layout li {
  flex: auto;
  margin: 4px;
  text-align: center;
}
/* line 20, _common.scss */
.flex-layout li p {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

/* line 27, _common.scss */
.list-disc {
  list-style-type: disc;
}
/* line 28, _common.scss */
.list-disc li {
  margin-left: 10px;
}

/* line 1, themes\lovelife\_main.scss */
html {
  background-color: white;
}

/* line 4, themes\lovelife\_main.scss */
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
  color: #6d452b;
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  min-height: 800px;
  border-top: solid 20px #a9dcf6;
  position: relative;
}

/* line 16, themes\lovelife\_main.scss */
::selection {
  background: #a3a3a3;
  /* Safari */
}

/* line 17, themes\lovelife\_main.scss */
::-moz-selection {
  background: #a3a3a3;
  /* Firefox */
}

/* line 18, themes\lovelife\_main.scss */
img, video {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
/* line 22, themes\lovelife\_main.scss */
img a, video a {
  width: 100%;
  height: auto;
}

/* line 24, themes\lovelife\_main.scss */
a {
  text-decoration: none;
  cursor: pointer;
}
/* line 27, themes\lovelife\_main.scss */
a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  color: #6facff;
  -ms-filter: “alpha(opacity=70) ”;
}
/* line 33, themes\lovelife\_main.scss */
a:visited {
  color: #6facff;
}

/* line 37, themes\lovelife\_main.scss */
.container {
  max-width: 1136px;
  min-width: auto;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 16%;
}

/* line 46, themes\lovelife\_main.scss */
.contents .disable-unit {
  margin: 20px 0;
  overflow: hidden;
  padding: 10px 0px;
}
/* line 51, themes\lovelife\_main.scss */
.contents .border {
  background-color: #e74e95;
  width: 100%;
  height: 4px;
}

/* line 62, themes\lovelife\_main.scss */
.header {
  max-width: 1136px;
  min-width: auto;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
/* line 66, themes\lovelife\_main.scss */
.header .text {
  margin: 20px 0 0 0;
  float: right;
  text-align: right;
}

/* line 72, themes\lovelife\_main.scss */
.branding {
  width: 26%;
  max-width: 100%;
  float: left;
}

/* line 81, themes\lovelife\_main.scss */
.contents {
  width: 82%;
  padding: 0 1%;
  float: left;
}

/* line 90, themes\lovelife\_main.scss */
.SideA, .SideB {
  float: left;
}
/* line 92, themes\lovelife\_main.scss */
.SideA .unit, .SideB .unit {
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 96, themes\lovelife\_main.scss */
.SideA li, .SideB li {
  margin: 0 0 6px 0;
  background-color: #fff;
}
/* line 99, themes\lovelife\_main.scss */
.SideA li a, .SideB li a {
  width: 100%;
  display: block;
}

/*SideA,SideB*/
/* line 105, themes\lovelife\_main.scss */
.SideA ul li {
  border-radius: 4px;
  background-color: #ededed;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED');
  background-image: -moz-linear-gradient(#ffffff 0%, #ededed 100%);
  background-image: -webkit-linear-gradient(#ffffff 0%, #ededed 100%);
  background-image: linear-gradient(#ffffff 0%, #ededed 100%);
  font-size: 13px;
  font-size: 1.3rem;
  padding: 4% 2%;
  border: 1px solid #e74e95;
  text-align: right;
}

/* line 114, themes\lovelife\_main.scss */
.footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
  line-height: 1.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 5%;
  padding-bottom: 20px;
  width: 100%;
  float: left;
  background-color: #a9dcf6;
}
/* line 125, themes\lovelife\_main.scss */
.footer .notice {
  border: 1px solid #222222;
  padding: 20px 60px;
  line-height: 18px;
  line-height: 1.8rem;
}
/* line 131, themes\lovelife\_main.scss */
.footer .copyright {
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1.4rem;
  width: 100%;
  clear: both;
}

/* line 142, themes\lovelife\_main.scss */
.top .alert, .top .footer .notice, .footer .top .notice {
  margin-bottom: 20px;
  border: 2px solid #404040;
  padding: 20px 60px;
  line-height: 1.8rem;
  background-color: rgba(255, 255, 255, 0.88);
}
/* line 149, themes\lovelife\_main.scss */
.top .facade {
  margin: 6px 0 12px 0;
}
/* line 151, themes\lovelife\_main.scss */
.top .facade .flexslider {
  -webkit-box-shadow: 3px 3px 10px 0px #a3a3a3;
  -moz-box-shadow: 3px 3px 10px 0px #a3a3a3;
  box-shadow: 3px 3px 10px 0px #a3a3a3;
}
/* line 155, themes\lovelife\_main.scss */
.top .unit {
  -webkit-box-shadow: 3px 3px 10px 0px #a3a3a3;
  -moz-box-shadow: 3px 3px 10px 0px #a3a3a3;
  box-shadow: 3px 3px 10px 0px #a3a3a3;
  border-radius: 4px;
  padding: 12px;
  background-color: #ededed;
}
/* line 160, themes\lovelife\_main.scss */
.top .unit ul {
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* line 164, themes\lovelife\_main.scss */
.top .unit ul li {
  display: table-cell;
  vertical-align: top;
  padding: 0 6px;
}
/* line 168, themes\lovelife\_main.scss */
.top .unit ul li:nth-child(2) {
  border-left: solid 1px #a3a3a3;
  border-right: solid 1px #a3a3a3;
}
/* line 172, themes\lovelife\_main.scss */
.top .unit ul li dt {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
}
/* line 176, themes\lovelife\_main.scss */
.top .unit ul li dd {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
/* line 178, themes\lovelife\_main.scss */
.top .unit ul li dd img {
  margin: 6px 0 0 0;
}

/* line 190, themes\lovelife\_main.scss */
.recruit .layout-area {
  -webkit-box-shadow: 3px 3px 10px 0px rgba(102, 102, 102, 0.4);
  -moz-box-shadow: 3px 3px 10px 0px rgba(102, 102, 102, 0.4);
  box-shadow: 3px 3px 10px 0px rgba(102, 102, 102, 0.4);
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  background-color: white;
  padding: 2%;
  margin-bottom: 5%;
}
/* line 198, themes\lovelife\_main.scss */
.recruit .layout-area .unit {
  line-height: 42px;
  line-height: 4.2rem;
  word-break: break-all;
}
/* line 201, themes\lovelife\_main.scss */
.recruit .layout-area .unit strong {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 30px;
  line-height: 3rem;
  padding: 12px 0;
  font-weight: bold;
  color: #e74e95;
}
/* line 208, themes\lovelife\_main.scss */
.recruit .layout-area .unit .shorten {
  line-height: 20px;
  line-height: 2rem;
}
/* line 211, themes\lovelife\_main.scss */
.recruit .layout-area .unit .space {
  height: 1.0rem;
}
/* line 217, themes\lovelife\_main.scss */
.recruit .section ul.exit {
  width: 86%;
  margin: 26px auto;
  overflow: hidden;
}
/* line 221, themes\lovelife\_main.scss */
.recruit .section ul.exit li {
  border-radius: 4px;
  background-color: #ededed;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED');
  background-image: -moz-linear-gradient(#ffffff 0%, #ededed 100%);
  background-image: -webkit-linear-gradient(#ffffff 0%, #ededed 100%);
  background-image: linear-gradient(#ffffff 0%, #ededed 100%);
  font-size: 13px;
  font-size: 1.3rem;
  padding: 4% 2%;
  border: 1px solid #e74e95;
  text-align: right;
  width: 49%;
  margin-top: 12px;
  float: left;
}
/* line 226, themes\lovelife\_main.scss */
.recruit .section ul.exit li:nth-child(2n) {
  margin-left: 2%;
}

/* line 4, themes\lovelife\device\_desktop.scss */
.desktop .breadcrumbs {
  padding: 0;
}
/* line 6, themes\lovelife\device\_desktop.scss */
.desktop .header {
  max-width: 1136px;
  min-width: auto;
}
/* line 12, themes\lovelife\device\_desktop.scss */
.desktop .contents {
  border-radius: 4px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1920px) {
  /* line 6, themes\lovelife\_media-queries.scss */
  .desktop .danzure-test li {
    width: 19%;
  }
  /* line 8, themes\lovelife\_media-queries.scss */
  .desktop .danzure-test li:nth-child(5n+1) {
    clear: both;
  }
  /* line 10, themes\lovelife\_media-queries.scss */
  .desktop .danzure-test li .ico li {
    clear: none !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 21, themes\lovelife\_media-queries.scss */
  .desktop .header .text {
    display: none;
  }
  /* line 26, themes\lovelife\_media-queries.scss */
  .desktop .danzure-test li {
    width: 32.33333%;
  }
  /* line 28, themes\lovelife\_media-queries.scss */
  .desktop .danzure-test li:nth-child(5n+1) {
    clear: none;
  }
  /* line 29, themes\lovelife\_media-queries.scss */
  .desktop .danzure-test li:nth-child(3n+1) {
    clear: both;
  }
  /* line 37, themes\lovelife\_media-queries.scss */
  .desktop .header .nav li {
    width: 25%;
    margin: 0;
  }
  /* line 39, themes\lovelife\_media-queries.scss */
  .desktop .header .headerinfo {
    margin-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 48, themes\lovelife\_media-queries.scss */
  .desktop .header .branding {
    width: 96%;
    margin: 0 auto;
  }
  /* line 52, themes\lovelife\_media-queries.scss */
  .desktop .header .text {
    display: none;
  }
  /* line 56, themes\lovelife\_media-queries.scss */
  .desktop .SideA {
    float: none;
    width: 100%;
  }
  /* line 59, themes\lovelife\_media-queries.scss */
  .desktop .SideA ul {
    overflow: hidden;
    padding: 1% 2%;
  }
  /* line 62, themes\lovelife\_media-queries.scss */
  .desktop .SideA ul li {
    float: left;
    width: 49%;
  }
  /* line 65, themes\lovelife\_media-queries.scss */
  .desktop .SideA ul li:nth-child(2n) {
    margin-left: 2%;
  }
  /* line 71, themes\lovelife\_media-queries.scss */
  .desktop .SideB {
    display: none;
  }
  /* line 74, themes\lovelife\_media-queries.scss */
  .desktop .contents {
    float: none;
    width: 100%;
  }
  /* line 77, themes\lovelife\_media-queries.scss */
  .desktop .contents .unit {
    box-shadow: none;
    background-color: transparent;
  }
  /* line 80, themes\lovelife\_media-queries.scss */
  .desktop .contents .unit ul {
    display: block;
  }
  /* line 82, themes\lovelife\_media-queries.scss */
  .desktop .contents .unit ul li {
    display: block;
    padding-bottom: 12px;
  }
  /* line 85, themes\lovelife\_media-queries.scss */
  .desktop .contents .unit ul li:nth-child(1) {
    display: none;
  }
  /* line 88, themes\lovelife\_media-queries.scss */
  .desktop .contents .unit ul li:nth-child(2) {
    border: none;
  }
  /* line 91, themes\lovelife\_media-queries.scss */
  .desktop .contents .unit ul li dt {
    border-bottom: solid 2px #e74e95;
  }
  /* line 99, themes\lovelife\_media-queries.scss */
  .desktop .recruit .layout-area .unit {
    line-height: 26px;
    line-height: 2.6rem;
  }
  /* line 103, themes\lovelife\_media-queries.scss */
  .desktop .recruit .section ul.exit {
    margin: 10px auto;
  }
  /* line 105, themes\lovelife\_media-queries.scss */
  .desktop .recruit .section ul.exit li {
    width: 100%;
    margin: 12px 0 0 0;
  }
  /* line 108, themes\lovelife\_media-queries.scss */
  .desktop .recruit .section ul.exit li:nth-child(2n) {
    margin: 12px 0 0 0;
  }
}

/*mobile set*/
/*iPhone set*/
/*ipdo set*/
/* line 13, themes\lovelife\device\_mobile.scss */
.mobile .split2 {
  width: 100%;
  padding-right: 0;
}
/* line 15, themes\lovelife\device\_mobile.scss */
.mobile .container {
  max-width: 100%;
  min-width: 100%;
}
/* line 18, themes\lovelife\device\_mobile.scss */
.mobile .header .branding {
  width: 96%;
  margin: 0 auto;
}
/* line 22, themes\lovelife\device\_mobile.scss */
.mobile .header .text {
  display: none;
}
/* line 26, themes\lovelife\device\_mobile.scss */
.mobile .SideA {
  float: none;
  width: 100%;
}
/* line 29, themes\lovelife\device\_mobile.scss */
.mobile .SideA ul {
  overflow: hidden;
  padding: 1% 2%;
}
/* line 32, themes\lovelife\device\_mobile.scss */
.mobile .SideA ul li {
  float: left;
  width: 49%;
}
/* line 35, themes\lovelife\device\_mobile.scss */
.mobile .SideA ul li:nth-child(2n) {
  margin-left: 2%;
}
/* line 41, themes\lovelife\device\_mobile.scss */
.mobile .SideB {
  display: none;
}
/* line 44, themes\lovelife\device\_mobile.scss */
.mobile .contents {
  float: none;
  width: 100%;
}
/* line 47, themes\lovelife\device\_mobile.scss */
.mobile .contents .unit {
  box-shadow: none;
  background-color: transparent;
}
/* line 50, themes\lovelife\device\_mobile.scss */
.mobile .contents .unit ul {
  display: block;
}
/* line 52, themes\lovelife\device\_mobile.scss */
.mobile .contents .unit ul li {
  display: block;
  padding-bottom: 12px;
}
/* line 55, themes\lovelife\device\_mobile.scss */
.mobile .contents .unit ul li:nth-child(1) {
  display: none;
}
/* line 58, themes\lovelife\device\_mobile.scss */
.mobile .contents .unit ul li:nth-child(2) {
  border: none;
}
/* line 61, themes\lovelife\device\_mobile.scss */
.mobile .contents .unit ul li dt {
  border-bottom: solid 2px #e74e95;
}
/* line 69, themes\lovelife\device\_mobile.scss */
.mobile .recruit .layout-area .unit {
  line-height: 26px;
  line-height: 2.6rem;
}
/* line 73, themes\lovelife\device\_mobile.scss */
.mobile .recruit .section ul.exit {
  margin: 10px auto;
}
/* line 75, themes\lovelife\device\_mobile.scss */
.mobile .recruit .section ul.exit li {
  width: 100%;
  margin: 12px 0 0 0;
}
/* line 78, themes\lovelife\device\_mobile.scss */
.mobile .recruit .section ul.exit li:nth-child(2n) {
  margin: 12px 0 0 0;
}

/* line 11, themes\lovelife\device\_tablet.scss */
.tablet .container {
  max-width: 100%;
  min-width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1920px) {
  /* line 6, themes\lovelife\_media-queries.scss */
  .danzure-test li {
    width: 19%;
  }
  /* line 8, themes\lovelife\_media-queries.scss */
  .danzure-test li:nth-child(5n+1) {
    clear: both;
  }
  /* line 10, themes\lovelife\_media-queries.scss */
  .danzure-test li .ico li {
    clear: none !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 21, themes\lovelife\_media-queries.scss */
  .header .text {
    display: none;
  }

  /* line 26, themes\lovelife\_media-queries.scss */
  .danzure-test li {
    width: 32.33333%;
  }
  /* line 28, themes\lovelife\_media-queries.scss */
  .danzure-test li:nth-child(5n+1) {
    clear: none;
  }
  /* line 29, themes\lovelife\_media-queries.scss */
  .danzure-test li:nth-child(3n+1) {
    clear: both;
  }

  /* line 37, themes\lovelife\_media-queries.scss */
  .header .nav li {
    width: 25%;
    margin: 0;
  }
  /* line 39, themes\lovelife\_media-queries.scss */
  .header .headerinfo {
    margin-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 48, themes\lovelife\_media-queries.scss */
  .header .branding {
    width: 96%;
    margin: 0 auto;
  }
  /* line 52, themes\lovelife\_media-queries.scss */
  .header .text {
    display: none;
  }

  /* line 56, themes\lovelife\_media-queries.scss */
  .SideA {
    float: none;
    width: 100%;
  }
  /* line 59, themes\lovelife\_media-queries.scss */
  .SideA ul {
    overflow: hidden;
    padding: 1% 2%;
  }
  /* line 62, themes\lovelife\_media-queries.scss */
  .SideA ul li {
    float: left;
    width: 49%;
  }
  /* line 65, themes\lovelife\_media-queries.scss */
  .SideA ul li:nth-child(2n) {
    margin-left: 2%;
  }

  /* line 71, themes\lovelife\_media-queries.scss */
  .SideB {
    display: none;
  }

  /* line 74, themes\lovelife\_media-queries.scss */
  .contents {
    float: none;
    width: 100%;
  }
  /* line 77, themes\lovelife\_media-queries.scss */
  .contents .unit {
    box-shadow: none;
    background-color: transparent;
  }
  /* line 80, themes\lovelife\_media-queries.scss */
  .contents .unit ul {
    display: block;
  }
  /* line 82, themes\lovelife\_media-queries.scss */
  .contents .unit ul li {
    display: block;
    padding-bottom: 12px;
  }
  /* line 85, themes\lovelife\_media-queries.scss */
  .contents .unit ul li:nth-child(1) {
    display: none;
  }
  /* line 88, themes\lovelife\_media-queries.scss */
  .contents .unit ul li:nth-child(2) {
    border: none;
  }
  /* line 91, themes\lovelife\_media-queries.scss */
  .contents .unit ul li dt {
    border-bottom: solid 2px #e74e95;
  }

  /* line 99, themes\lovelife\_media-queries.scss */
  .recruit .layout-area .unit {
    line-height: 26px;
    line-height: 2.6rem;
  }
  /* line 103, themes\lovelife\_media-queries.scss */
  .recruit .section ul.exit {
    margin: 10px auto;
  }
  /* line 105, themes\lovelife\_media-queries.scss */
  .recruit .section ul.exit li {
    width: 100%;
    margin: 12px 0 0 0;
  }
  /* line 108, themes\lovelife\_media-queries.scss */
  .recruit .section ul.exit li:nth-child(2n) {
    margin: 12px 0 0 0;
  }
}
