$main-color: #404040; //メインBrack
$main-color_quote: darken($main-color, 10%);
$main_light-color: lighten( $main-color, 20% );
$main_heigh-color: saturate( $main-color, 20% );
$main_low-color: desaturate( $main-color, 20% );
$main_alpha-color: transparentize( $main-color, 0.3 );

$second-color: #a3a3a3; //メインGray
$second-color_quote: darken($second-color, 10%);
$second_light-color: lighten( $main-color, 15% );
$second_heigh-color: saturate( $main-color, 20% );
$second_low-color: desaturate( $main-color, 20% );
$second_alpha-color: transparentize( $main-color, 0.3 );

$third-color: #ededed; //明るいGray
$third-color_quote: darken($third-color, 10%);
$third_light-color: lighten( $main-color, 15% );
$third_heigh-color: saturate( $main-color, 20% );
$third_low-color: desaturate( $main-color, 20% );
$third_alpha-color: transparentize( $main-color, 0.3 );

$fourth-color: #E74E95; //ぱふぉろまメインPink
$fourth-color_quote: darken($third-color, 10%);
$fourth_light-color: lighten( $main-color, 15% );
$fourth_heigh-color: saturate( $main-color, 20% );
$fourth_low-color: desaturate( $main-color, 20% );
$fourth_alpha-color: transparentize( $main-color, 0.3 );

//--
$base-color: #FFFFFF; //下地White
$text-color: #222; //暗いBrack
$link-color: #6facff; //linkcolor
$sublink-color: #7e7e7e; //強調しないlinkcolor
$warning-color:#f00; //linkcolor Red
$line-color: #6facff; //
$ct-background:rgba(255, 255, 255, 0.88);
//--
$pafo-text-color: #6D452B; //paforoma_brown
$pafo-second-color: #A9DCF6; //paforoma_blue
$pafo-third-color: #DAC8E1; //paforoma_perple

$disable-color:#c4c4c4;
$disable-color_quote: darken($disable-color, 10%);

$default-color:#fff;
$default-color_quote: darken($default-color, 10%);

$primary-color:#337AB7;
$primary-color_quote: darken($primary-color, 10%);
$primary_light-color: lighten( $primary-color, 35% );

$success-color:#5CB85C;
$success-color_quote: darken($success-color, 10%);
$success_light-color: lighten( $success-color, 35% );

$info-color:#31B0D5;
$info-color_quote: darken($info-color, 10%);
$info_light-color: lighten( $info-color, 35% );

$danger-color:#C9302C;
$danger-color_quote: darken($danger-color, 10%);

$warning-color:#F0AD4E;
$warning-color_quote: darken($warning-color, 10%);

$inverse-color:#000;
$inverse-color_quote: darken($inverse-color, 10%);

$ghost-color:transparent;
