html {
	background-color:$base-color;
}
body {
	font-family: $font-paforoma;
	@include txt-03;
	color: $pafo-text-color;
	background-image: url(/img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment:fixed;
	min-height: 800px;
	border-top: solid 20px $pafo-second-color;
	position: relative;
}
::selection { background: $second-color; /* Safari */}
::-moz-selection {  background: $second-color; /* Firefox */}
img,video { 
	width: 100%;   
	height: auto; 
	vertical-align: middle;
	a{  width: 100%;    height: auto;}
}
a{
	text-decoration:none;
	cursor:pointer;
	&:hover{
		opacity:0.7;
		filter:alpha(opacity=70);
		color:$link-color;
		-ms-filter: “alpha( opacity=70 )”;
	}
	&:visited{
		color:$link-color;
	}
}
.container {
	@include site-size;
	@include liquidsize;
	overflow: hidden;
	padding-bottom: 16%;
}
.contents{
	.unit{
	}
	.disable-unit{
		margin: 20px 0;
		overflow: hidden;
		padding: 10px 0px;
	}
	.border{
		background-color: $fourth-color;
		width: 100%;
		height: 4px;
	}
}//contents
//Common

//* ############################################# */
//* Header CSS                                    */
//* ############################################# */
.header {
	@include site-size;
	@include liquidsize;    
	overflow: hidden;	
	.text{
		margin: 20px 0 0 0;
		float: right;
		text-align: right;
	}
}//header
 .branding {
	width: 26%;
	max-width: 100%;
	float:left;
}

//* ############################################# */
//* Contents CSS                                  */
//* ############################################# */
.contents {
	width: $contentswidth - ($sideAwidth + $sideBwidth);
	padding: 0 1%;
	float: left;
}//contents

//* ############################################# */
//* SideArea CSS                                  */
//* ############################################# */
.SideA,.SideB {
	float: left;	
	.unit{
		margin-bottom: 10px;
		overflow: hidden;
	}	//unit		
	li{
		margin: 0 0 6px 0; 
		background-color: #fff;
		a{width:100%; display:block;}
	}
}/*SideA,SideB*/

.SideA{
	ul{
		li{
			@include button-lvlf;
		}
	}
}

//* ############################################# */
//* Footer CSS                                    */
//* ############################################# */
.footer {
	@include liquidsize;
	@include txt-02;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-top: 5%;
	padding-bottom: 20px;
	width: 100%;
	float: left;
	background-color: $pafo-second-color;
	.notice {
		@extend .alert;
		border: 1px solid $text-color;
		padding: 20px 60px;
		@include lineheight(18)
	}
	.copyright {
		text-align:center;
		@include txt-01;
		width: 100%;
		clear:both;
	}

}//footer

//top############################################# */
.top{
	.alert{
		margin-bottom: 20px;
		border: 2px solid $main-color;
		padding: 20px 60px;
		line-height: 1.8rem;
		background-color:$ct-background;	
	}
	.facade {
		margin: 6px 0 12px 0;
		.flexslider{
			@include box-shadow( $h: 3px , $v: 3px , $b: 10px , $s: 0px , $c: $second-color ) ;
		}
	}//facade
	.unit{
		@include box-shadow( $h: 3px , $v: 3px , $b: 10px , $s: 0px , $c: $second-color ) ;
		@include common_radius;
		padding: 12px;
		background-color: $third-color;
		ul{
			display: table;
			width: 100%;
			table-layout: fixed;
			li{
				display: table-cell;
				vertical-align: top;
				padding: 0 6px;
				&:nth-child(2){
					border-left: solid 1px $second-color;
					border-right: solid 1px $second-color;
				}
				dt{
					@include txt-05;
					margin-bottom: 0.5rem;
				}
				dd{
					@include txt-04;
					img{
						margin: 6px 0 0 0;
					}
				}
			}
		}
	}
}//#############################################top */


//recruit############################################# */
.recruit{
	.layout-area{
		@include box-shadow( $h: 3px , $v: 3px , $b: 10px , $s: 0px , $c:rgba(102,102,102,0.4) ) ;
//		@include common_radius;
		@include txt-04;
		background-color: $base-color;
		padding: 2%;
		margin-bottom: 5%;
//		border-top: 3px solid $fourth-color;
		.unit{
			@include lineheight(42);
			word-break: break-all;
			strong{
				@include fontsize(16);
				@include lineheight(30);
				padding: 12px 0;
				font-weight: bold;
				color: $fourth-color;
			}
			.shorten{
				@include lineheight(20);
			}
			.space{
				height: 1.0rem;
			}
		}
	}
	.section{
		ul.exit{
			width: 86%;
			margin: 26px auto;
			overflow: hidden;
			li{
				@include button-lvlf;
				width: 49%;
				margin-top: 12px;
				float: left;
				&:nth-child(2n){
					margin-left: 2%;
				}
			}
		}
	}
}//#############################################recruit */


@import "device";//Fix :Last
@import "media-queries";//Fix :Last