@media only screen and (min-device-width: 768px)
	and (max-device-width: 1920px){
	//common

	.danzure-test{	
		li{
			width: 100% / 5 - ($cp_list_mr+ $cp_list_ml);	
			&:nth-child(5n+1) {		clear:both;	}
			.ico{
				li{clear: none !important;}
				}
		}//li
	}

}//@media 769px-1280px


//768px以下の場合
@media only screen and (max-width: 768px) {    
	.header{
		.text{
			display: none;
		}
	}
	.danzure-test{	
		li{
			width: 100% / 3 - ($cp_list_mr+ $cp_list_ml);	
			&:nth-child(5n+1) {		clear:none;	}
			&:nth-child(3n+1) {		clear: both;	}
		}
	}
 
 
//Respontive Menu
.header{      
	.nav{ 
    li{width: (100% / 4); margin:0;}//li
	}//nav	
	.headerinfo{margin-top:0;}
}//header

}//@media 768px以下


//480px以下の場合
@media only screen and (max-width: 480px) {
	.header{
		.branding{
			width: 96%;
			margin: 0 auto;
		}
		.text{
			display: none;
		}
	}
	.SideA{
		float: none;
		width: 100%;
		ul{
			overflow: hidden;
			padding: 1% 2%;
			li{
				float: left;
				width: 49%;
				&:nth-child(2n){
					margin-left: 2%;
				}
			}
		}
	}
	.SideB{
		display: none;
	}
	.contents{
		float: none;
		width: 100%;
		.unit{
			box-shadow: none;
			background-color: transparent;
			ul{
				display: block;
				li{
					display: block;
					padding-bottom: 12px;
					&:nth-child(1){
						display: none;
					}
					&:nth-child(2){
						border: none;
					}
					dt{
						border-bottom: solid 2px $fourth-color;
					}
				}
			}
		}
	}
	.recruit{
		.layout-area .unit{
			@include lineheight(26);
		}
		.section{
			ul.exit{
				margin: 10px auto;
				li{
					width: 100%;
					margin: 12px 0 0 0;
					&:nth-child(2n){
						margin: 12px 0 0 0;
					}
				}
			}
		}
	}





}//@media 480px以下