//################################### font setting /

//*******************************web font load /
/*
@font-face
{
	font-family: mplus-1p-regular;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
		format("truetype");
}
*/

//*******************************font set full /
//ゴシック体
$fontfull-gothic:Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo UI, "メイリオ", Meiryo, sans-serif;
//明朝
$fontfull-mincho:"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
//等幅書体
$fontfull-monospace:"Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;

//*******************************font set mini /
//ゴシック体
$font-gothic:Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
//明朝
$font-mincho:"Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
//等幅書体
$font-monospace:Osaka-mono, "MS Gothic", monospace;

//*******************************original set /
//M+ Regular
$fontfull-gothic: mplus-1p-regular, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo UI, "メイリオ", Meiryo, sans-serif;

//ぱふぉろま用
$font-paforoma: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;

//******************************* Base Font /
$root_fontsize: 62.5%;
$base_fontfam : $fontfull-gothic; //上のフォントセットから指定


//################################### website setting /
@mixin site-size {  
	max-width:1136px; 
	min-width: auto;
}
//$site-size: 1136px;
$contentswidth: 100%; //Fix
$sideAwidth: 18%;
$sideBwidth: 0%;

	.contents {
		width: $contentswidth - ($sideAwidth + $sideBwidth);
		padding: 0 10px;		
	}//contents
	.SideA{
		width: $sideAwidth; 
		@if $sideAwidth == 0 {
			display:none;
		}@else{
			display:block;
		}
	}//SideA	
	.SideB{
		width: $sideBwidth; 
		@if $sideBwidth == 0 {
			display:none;
		}@else{
			display:block;
		}
	}//SideB	


//******************************* common /
@import "color";
@import "variables";
@mixin common_radius {  border-radius: 4px; }

//******************************* impoprt partial /
@import "partial/index";
@import "partial/font";
@import "partial/form";
@import "partial/button";
@import "partial/tab";
@import "partial/iframe";
@import "partial/table";
@import "partial/other";

//******************************* js flexslider  /
@import "partial/flexslider";
