.overflow-hidden {
	overflow: hidden;
}



.cd-section {
	padding: 2em 5%;
	text-align: center;
	background-color: #03bb91;
	p {
		margin: 2rem 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}//cd-section

@media only screen and (min-width: 768px) {
	.cd-section {
		padding: 4em 10%;
	}
	.cd-section p {
		font-size: 1.8rem;
		line-height: 2;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-section {
		padding: 4em 20%;
	}
}

.cd-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	@include transition(visibility 0s .3s, opacity .3s 0s, z-index 0s .3s);

	&:after {
		/* gradient overlay at bottom of modal window */
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 60px;
		pointer-events: none;
		background: transparent;
		@include background(linear-gradient(to top,rgba($text-color, 1), rgba($text-color, 0)));
	}//after

	.cd-modal-content {
		height: 100%;
		width: 100%;
		padding: 3em 5%;
		text-align: left;
		overflow-y: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}//cd-modal-content

	p {
		color: #ffffff;
		line-height: 1.6;
		margin: 2em 0;
	}

}//cd-modal

.modal-is-visible{
	.cd-modal {
		z-index: $layer99;
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		@include transition(visibility 0s 0s, opacity .3s 0s, z-index 0s 0s);
		.cd-modal-content {
			-webkit-overflow-scrolling: touch;
		}//cd-modal-content
	}//cd-modal
}//modal-is-visible

@media only screen and (min-width: 768px) {
	.cd-modal .cd-modal-content {
		padding: 4em 10%;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-modal .cd-modal-content {
		padding: 6em 20%;
	}
	.cd-modal p {
		font-size: 2rem;
		line-height: 2;
	}
}

.cd-modal-action {
	position: relative;
	
	.btn, .cd-modal-bg {
		display: inline-block;
		height: 4em;
		background-color: #34383c;
	}
	
	.btn {
		width: 12.5em;
		border-radius: 5em;
		color: #ffffff;
		line-height: 4em;
		white-space: nowrap;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@include transition(color .2s .3s, width .3s 0s);
		
		&.to-circle {
			width: 4em;
			color: transparent;
			@include transition(color .2s 0s, width .3s .2s);
		}//to-circle
	}//btn
	
	.cd-modal-bg {
		position: absolute;
		z-index: $layer99;
		left: 50%;
		top: 0;
		width: 4em;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
		@include transform(translateZ(0));
		@include transform(translateX(-2em));
		@include transition(visibility 0s .5s);

		&.is-visible {
			opacity: 1;
			visibility: visible;
		}//is-visible
	}//cd-modal-bg
}//cd-modal-action

.cd-modal-close {
	position: fixed;
	z-index: $layer99;
	top: 20px;
	right: 5%;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3) url(img/cd-icon-close.svg) no-repeat center center;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	@include transform(translateZ(0));
	@include transform(scale(0));
	@include transition(transform .3s 0s, visibility 0s .3s, opacity .3s 0s);
}//cd-modal-close

.no-touch .cd-modal-close:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-is-visible {
	.cd-modal-close {
		visibility: visible;
		opacity: 1;
		@include transition(transform .3s 0s, visibility 0s 0s, opacity .3s 0s);
		@include transform(scale(1));
	}//cd-modal-close
}//modal-is-visible 


@media only screen and (min-width: 768px) {
	.cd-modal-close {
		top: 70px;
	}
}
